{% extends "base.html" %}
{% block content %}
<h2 class="mt-5 mb-4">Change password for {{form.email.data}}</h2>
<script>
 function toggle_visible() {
   let pwfield = document.getElementById('password');
   let confirm = document.getElementById('confirm');
   let open = document.getElementById('open_eye');
   let closed = document.getElementById('closed_eye');
   let open_confirm = document.getElementById('open_eye_confirm');
   let closed_confirm = document.getElementById('closed_eye_confirm');
   if (pwfield.type == 'text') {
     open.classList.remove('d-none');
     closed.classList.add('d-none');
     open_confirm.classList.remove('d-none');
     closed_confirm.classList.add('d-none');
     pwfield.type = 'password'
     confirm.type = 'password'
   } else {
     closed.classList.remove('d-none');
     open.classList.add('d-none');
     closed_confirm.classList.remove('d-none');
     open_confirm.classList.add('d-none');
     pwfield.type = 'text'
     confirm.type = 'text'
   }
 }
</script>
<form method="POST" action="{{url_for('auth.change_password')}}">
  {{ form.csrf_token }}
  {{ form.email }}
  <div class="form-group mt-3 row">
    {{ form.old_password.label(class_="col-2 col-form-label text-end") }}
    <div class="col-6">
      {{ form.old_password(placeholder='old password',class_="form-control") }}
      {% if form.old_password.errors %}
      <ul class="errors">
        {% for error in form.old_password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="form-group row mt-3">
    {{ form.password.label(class_="col-2 col-form-label text-end")}}
    <div class="col-6">
      <div class="input-group">
        {{ form.password(class_="form-control") }}
        <div class="input-group-append">
          <span class="input-group-text" onclick="toggle_visible();">
            <img src="/img/eye-outline.svg" id="open_eye" class="eyes">
            <img src="/img/eye-off-outline.svg" id="closed_eye" class="d-none eyes">
          </span>
        </div>
      </div>
      <div class="form-text">
        Password must be at least 7 characters.
      </div>
      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="form-group row mt-3">
    {{ form.confirm.label(class_="col-2 col-form-label text-end")}}
    <div class="col-6">
      <div class="input-group">
        {{ form.confirm(class_="form-control") }}
        <div class="input-group-append">
          <span class="input-group-text" onclick="toggle_visible();">
            <img src="/img/eye-outline.svg" id="open_eye_confirm" class="eyes">
            <img src="/img/eye-off-outline.svg" id="closed_eye_confirm" class="d-none eyes">
          </span>
        </div>
      </div>        
      {% if form.confirm.errors %}
      <ul class="errors">
        {% for error in form.confirm.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="row mt-3">
    <div class="offset-2">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </div>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning mt-3">
    {{ message }}
  </div>
  {% endfor %}
</form>
</div>

{% endblock %}
