{#
=================================================================
This template is used to show search on fundreg.
=================================================================
#}
{% set title='Crossref Funding Registry Search' %}
{% extends "base.html" %}
{% block endOfHead %}
<style>
 @media screen and (min-width:992px) {
   .dropper:hover .dropdown-menu {
     display:block;
     margin-top: 2rem;
   }
   .dropper .dropdown-menu {
     display:none;
   }
 }
 .header img {
   max-width: 3rem;
   margin-right: 1rem;
   margin-left: 1rem;
 }
 img.icon {
   max-width: 2rem;
 }
 .widecontainer {
   --bs-gutter-x: 1.5rem;
   --bs-gutter-y: 0;
   width: 100%;
   padding-right: calc(var(--bs-gutter-x) * 0.5);
   padding-left: calc(var(--bs-gutter-x) * 0.5);
   margin-right: auto;
   margin-left: auto;
 }

 @media (min-width: 576px) {
   .widecontainer {
     max-width: 540px;
   }
 }
 @media (min-width: 768px) {
   .widecontainer {
     max-width: 720px;
   }
 }
 @media (min-width: 992px) {
   .widecontainer {
     max-width: 960px;
   }
 }
 @media (min-width: 1200px) {
   .widecontainer {
     max-width: 1140px;
   }
 }
 @media (min-width: 1400px) {
   .widecontainer {
     max-width: 1320px;
   }
 }
 @media (min-width: 1600px) {
   .widecontainer {
     max-width: 1500px;
   }
 }
 @media (min-width: 1800px) {
   .widecontainer {
     max-width: 1600px;
   }
 }
 pre#latex {
   background-color: #f8f8f8;
 }
</style>
{% endblock %} {# endOfHead #}
{% block content %}
<main id="mainContent" class="container px-3 px-md-4">
<div class="container mt-3">
  <h2>CryptoBib search</h2>
  <div class="row">
    <div class="col-md-9 col-12">
      <p class="mt-2">
        We recommend using the <a href="https://cryptobib.di.ens.fr/" target="_blank">CryptoBib database</a> for
        bibliographic references, because it is well maintained and contains many of the papers that are
        cited in cryptology. If you don't wish to download all of cryptobib, you can use this to search for
        fully expanded entries.
      </p>
    </div>
  </div>
      <form class="mt-3">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="form-floating">
              <input type="text" class="form-control" id="textq" placeholder="homomorphic encryption" onkeydown="return event.key != 'Enter';">
              <label for="textq">Enter query</label>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="widecontainer">
      <div id="results" class="mt-3"></div>
    </div>
{% raw %}
<script id="results-template" type="text/x-handlebars-template">
  <p>{{estimated_results}} results (if more than 1000, then refine your query)</p>
    {{#each results}}
    <div class="mb-3 d-flex align-items-start">
      <span class="badge text-bg-success p-2" role="button" class="btn btn-sm btn-success" onclick='showItemModal({{@index}});return false'>View</span>
      <div class="ms-3"><span class="badge text-success-emphasis bg-success-subtle {{pubtype}}" title="{{venue}}">{{pubtype}}</span>
      <b class="ms-2">{{title}}</b>,  
      {{#each authors}}{{#if @first}}{{else}}, {{/if}}{{this}}{{/each}},
      {{#if venue}}<em class="ms-2">{{venue}}</em>{{/if}} ({{year}})
      {{#if doi }} DOI: <a href="https://doi.org/{{doi}}" target="_blank">{{doi}}</a>{{/if}}
      </div>
    </div>
    {{/each}}
</script>
{% endraw %}
<script src="/static/js/handlebars-v4.7.7.js"></script>
<script>
 var theTemplateScript = document.getElementById('results-template').innerHTML;
 var resultsTemplate = Handlebars.compile(theTemplateScript);
 var textinput = document.getElementById('textq');
 
 {% include "search_js.html" %}
 var doSearch = debounce(function() {
   args = {'c': 'cryptobib'}
   if (textinput.value) {
     args['textq'] = textinput.value;
     if (controller !== undefined) {
       console.log('killing');
       controller.abort();
     }
     controller = new AbortController();
     signal = controller.signal;
     let search_url = "{{search_url}}" + "?" + new URLSearchParams(args);
     fetch(search_url, {signal})
       .then((response) => response.json())
       .then((data) => {
         console.log(data);
         let elem = document.getElementById('view');
         if (elem) {elem.innerHTML = '';}
         results = data.results;
         if (data.results.length > 0) {
           document.getElementById('results').innerHTML = resultsTemplate(data);
         } else {
           document.getElementById('results').innerHTML = 'no results';
         }
         controller = undefined;
       }).catch((error) => {
         console.log('error in fetch');
         console.log(error);
       });
   } else {
     console.log('no query');
   }
 }, 500); // only after 250 ms.

 document.querySelectorAll('input').forEach((elem) => {
   elem.addEventListener('input', doSearch);
 });
</script>
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Help on metadata search</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          The <i-mono>\addfunding</i-mono> and <i-mono>\addaffiliation</i-mono> macros in
          <i-mono>iacrcc.cls</i-mono> can use IDs that globally identify organizations.
        </p>
        <p>
          The <i-mono>\addaffiliation</i-mono> macro expects an ID from the
          <a href="https://ror.org/" target="_blank">Research Organization Registry</a> (ROR).
          Not every organization will have such an ID, but there are
          now 107,000 organizations that have been registered.
        </p>
        <p>The <i-mono>\addfunding</i-mono> macro may take two kinds of IDs:
          <ul>
            <li>An ID from the
              <a href="https://www.crossref.org/services/funder-registry/" target="_blank">Crossref Funder Registry</a>
              (FUNDREG) is being merged with ROR. This includes almost 45,000
              funding agencies.
            </li>
            <li>If you receive support from an organization to visit
              them and they have a ROR ID, then you may include that.
            </li>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="itemModalLabel">View BibTeX</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <pre class="bg-white p-3" id="raw_bibtex"></pre>
        <p id="eprint_warning" class="text-danger d-none">
          Warning: you should usually always cite the officially published version of the paper instead
          of the eprint version. <a href="" id="eprint_search">Search by title</a>
        </p>
        <div id="doi_div" class="my-3">
          View DOI: <a id="doi_a" href="https://doi.org/{{doi}}" target="_blank">{{doi}}</a>
        </div>
      </div>
      <div class="modal-footer">
        <button id="copy_butt" class="btn btn-success"
                  aria-label="Copy to clipboard"
                  onclick="copyMetadata('copy_butt', 'raw_bibtex')">Copy BibTeX to clipboard</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
 function showItemModal(i) {
   let result = results[i];
   console.log(result);
   document.getElementById('raw_bibtex').innerText = result.raw;
   let doi_div = document.getElementById('doi_div')
   let doi_a = document.getElementById('doi_a')
   if (result.doi) {
     doi_a.href = 'https://doi.org/' + result.doi;
     doi_a.innerText = result.doi;
     doi_div.classList.remove('d-none')
   } else {
     doi_div.classList.add('d-none')
   }
   if (result.key.startsWith('EPRINT:')) {
     document.getElementById('eprint_warning').classList.remove('d-none');
     document.getElementById('eprint_search').href = '/cryptobib?textq=' + encodeURIComponent(result.title);
   } else {
     document.getElementById('eprint_warning').classList.add('d-none');
   }
   const itemModal = new bootstrap.Modal('#itemModal', {}).show();
   console.log(itemModal);
 }

 window.addEventListener('load', (event) => {
   const queryString = window.location.search;
   if (queryString) {
     const urlParams = new URLSearchParams(queryString);
     const query = urlParams.get('textq');
     if (query) {
       textinput.value = query;
       if (urlParams.get('ror')) {
         sourceinput.value = 'ror';
       }
       doSearch();
     }
   }
 });
</script>

</main>
{% endblock %} {# end of content #}

