{% include "base_header.html" %}
<h2 class="mt-5 mb-3">The iacrcc document class</h2>
<p>
  Papers for the IACR Communications in Cryptology must be prepared
  using the <i-mono>iacrcc</i-mono> LaTeX document class
  and <i-mono>iacrcc</i-mono> BibTeX style. These files provide a
  crucial part of the publishing pipeline, because they allow us to
  extract all the metadata required for open access publishing.
</p>
<p>
  You can download the LaTeX files in a <a href="/iacrcc.zip">zip file</a>.
  This download includes the LaTeX document class, the bibliography style,
  a template to start from, and documentation.
</p>
{% include "base_footer.html" %}
