{% extends "base.html" %}
{% block content %}
<div class="alert alert-warning w-75 mx-auto">
    Ordinarily this page would only be shown in the email and paper ID are authenticated
    from HotCRP through an HMAC in the URL. For now we allow supplying values for testing.
</div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-form-tab" data-bs-toggle="tab" data-bs-target="#nav-form"
	    type="button" role="tab" aria-controls="nav-form" aria-selected="true">Submission form</button>
    <button class="nav-link" id="nav-help-tab" data-bs-toggle="tab" data-bs-target="#nav-help"
	    type="button" role="tab" aria-controls="nav-help" aria-selected="false">Help</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent" style="overflow-y: scroll;height:80vh;background-color:#ffffff;">
  <div class="tab-pane fade show active p-3" id="nav-form" role="tabpanel" aria-labelledby="nav-form-tab">
    <div class="alert alert-light">
      <strong>Instructions:</strong> Use this form to upload the final version of your paper. All fields
      are required. See the help tab above for hints on how to avoid problems.
    </div>
    <form method="POST" action="/submit" enctype="multipart/form-data">
      <div class="form-group">
        <label for="email" class="form-label">Your email address (required)</label>
        <input required class="form-control w-50" id="email" type="email" name="email" placeholder="email of submitting author" value="author1@digicrime.com">
      </div>
      {#<div class="form-group mt-4">
        <label for="paperid" class="form-label">Paper ID</label>
        <input required class="form-control w-50" type="text" name="paperid" id="paperid" placeholder="paper ID" pattern="[-_a-zA-Z0-9]{7,}">
      </div>#}
      <div class="form-group mt-4">
        <label for="paperid" class="form-label">Paper ID (select one for now)</label>
        <select class="form-select w-50" name="paperid">
          <option value="AAaaAA">AAaaAA</option>
          <option value="BBbbBB">BBbbBB</option>
          <option value="CCccCC">CCccCC</option>
          <option value="DDddDD">DDddDD</option>
        </select>
      </div>
      <div class="form-group mt-4">
        <label for="zipfile" class="form-label">Zip file with all
          <span class="latex">L<sup>A</sup>T<sub>E</sub>X</span>
          source files required to produce your paper. You do not need to upload
          the <span class="text-monospace">iacrcc.cls</span> file.
          The main <span class="latex">L<sup>A</sup>T<sub>E</sub>X</span> file should be named
          <span class="mycode">main.tex</span>. Subdirectories are acceptable within the zip file,
          but the    <span class="mycode">main.tex</span> file should be at the top level.
        </label>
        <input required class="form-control w-50" name="zipfile" type="file" accept=".zip">
      </div>
      <button type="submit" class="mt-5 btn btn-primary">Upload</button>
    </form>
  </div>
  <div class="tab-pane fade p-3" id="nav-help" role="tabpanel" aria-labelledby="nav-help-tab">
    <p>
      In order to keep the cost of publishing low, the IACR
      Communications in Cryptology uses an automatic submission
      system, and it is important that authors adhere to the
      requirements. Submissions are required to be prepared in
      LaTeX using the {# TODO: make this link visible to all #}
      <a target="_blank" href="https://github.com/IACR/latex/tree/main/iacrcc"><span class="text-monospace">iacrcc</span></a>
      document class. This document style is designed to provide a
      consistent appearance for articles in the journal, but more
      importantly it is designed to facilitate automatic processing
      of metadata required for indexing and registration of DOIs.
    </p>
    <h5 id="automatic">Automatic processing</h5>
    <p>
      We require that authors submit all of the files used to
      produce their LaTeX document, so that we may automatically
      prepare the PDF during the submission process. This system is
      designed to minimize the amount of human intervention, so the
      processing is automatic when you upload your LaTeX files.
    </p>
    <p>
      This system is based on lualatex because it is capable of
      producing UTF-8 output (pdflatex is not). For most authors
      you will not notice a difference, and we recommend using
      lualatex during the preparation of your paper. Note that
      many features of lua are disabled in our system, so you
      should not depend on advanced features of lualatex.
    </p>
    <h5 id="packages">LaTeX packages</h5>
    <p>
      In order to conserve resources, this system is currently
      based on the texlive 2022 "medium" distribution of LaTeX.
      This system supports the vast majority of popular LaTeX packages,
      but it is possible that we are missing LaTeX packages that you
      desire. If this is the case, please let us know at
      iacrcic-admin@iacr.org. Please do not upload <span class="text-monospace">.sty</span>
      packages with your paper.
    </p>
    <h5 id="figures">Guidance for figures</h5>
    <p>
      If you require graphics, we recommend using the graphics or graphicx LaTeX packages.
      We support only png, jpg, and gif formats for included graphics (not PDF or eps).
    </p>
    <h5 id="figures">Guidance for references</h5>
    <p>
      We strongly urge that you include DOIs for all references. We also recommend using
      cryptobib.
    </p>
  </div>
</div>

<script>
 const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';

 function help() {
   let tabel = document.getElementById('nav-help');
   bootstrap.Tab.getOrCreateInstance(tabel).show();
 }

 function generateString(length) {
   let result = '';
   const charactersLength = characters.length;
   for ( let i = 0; i < length; i++ ) {
     result += characters.charAt(Math.floor(Math.random() * charactersLength));
   }

   return result;
 }
</script>
{% endblock %}
