{% extends "base.html" %}
{% block content %}
<div class="alert alert-warning w-75 mx-auto">
    Ordinarily this page would only be shown in the email and paper ID are authenticated
    from HotCRP through an HMAC in the URL. For now we allow supplying values for testing.
</div>
<div class="alert alert-info mb-4">
    Instructions: Use this form to upload the final version of your paper. All fields
    are required. There will be  more detailed instructions once we work out the kinks
    and expectations.
</div>
<form method="POST" action="/" enctype="multipart/form-data">
    <div class="form-group">
    <label for="email" class="form-label">Your email address (required)</label>
    <input required class="form-control" id="email" type="email" name="email" placeholder="email of submitting author" value="author1@digicrime.com">
  </div>
  <div class="form-group mt-3">
    <label for="paperid" class="form-label">Paper ID (randomly generated for the moment)</label>
    <input required class="form-control" type="text" name="paperid" id="paperid" placeholder="paper ID" pattern="[-_a-zA-Z0-9]{7,}">
  </div>
  <div class="form-group mt-3">
      <label for="zipfile" class="form-label">Zip file with all
	  <span class="latex">L<sup>A</sup>T<sub>E</sub>X</span>
	source files required to produce your paper (including iacrcc.cls at the moment).
	The main <span class="latex">L<sup>A</sup>T<sub>E</sub>X</span> file should be named
	<span class="mycode">main.tex</span>. Subdirectories are acceptable within the zip file,
	but the	<span class="mycode">main.tex</span> file should be at the top level.
    </label>
    <input required class="form-control" name="zipfile" type="file" accept=".zip">
  </div>
  <button type="submit" class="mt-3 btn btn-primary">Upload</button>
</form>
<script>
const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';

function generateString(length) {
    let result = '';
    const charactersLength = characters.length;
    for ( let i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }

    return result;
}

    document.getElementById('paperid').value = generateString(7);
</script>
{% endblock %}
