{% extends "base.html" %}
{% block content %}
<main id="mainContent" class="container px-3 px-md-4">
<h1 class="mt-4">Log In</h1>
{% set next=request.args.get('next', '') %}
<form method="POST" action="{{url_for('auth.login', next=request.args.get('next', ''))}}">
  {{ form.csrf_token }}
  <input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
  <div class="form-group mt-3 row">
    {{ form.email.label(class_="col-2 col-form-label text-end") }}
    <div class="col-6">
      {{ form.email(placeholder='youremail@example.com',class_="form-control") }}
      {% if form.email.errors %}
      <ul class="errors">
        {% for error in form.email.errors %}
        <li>{{ error }}</li>{% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="form-group row mt-3">
    {{ form.password.label(class_="col-2 col-form-label text-end")}}
    <div class="col-6">
      {{ form.password(class_="form-control") }}
      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="row mt-3">
    <div class="offset-2">
      {{ form.submit(class_="btn btn-primary") }}
    </div>
  </div>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning mt-3">
    {{ message }}
  </div>
  {% endfor %}
  <p class="alert alert-info mt-4">
    Accounts are only for administrators or copy editors.
    If you forgot your password, you can try to <a href="/recover">reset your password</a>
  </p>
  {#
  <div class="mt-4">
    <span>Don't have an account? <a href="{{ url_for('auth.signup') }}">Sign up.</a></span>
  </div>
  #}
</form>
</div>
</main>
{% endblock %}
