{% extends "base.html" %}
{% block content %}
<h2 class="mt-2 mb-5">
  How the Cryptology ePrint Archive Operates
</h3>

<p>
  Any author can submit a paper with a technical contribution in the field
  of cryptology. Submissions are reviewed by the <a href="contact.html">editors</a>,
  who will accept or reject submissions based on criteria discussed below.
  Email notification of acceptance or rejection is sent to the submitter.
</p>
<p>
  If the submission is accepted, the email notification contains a
  password that the submitter should retain. Using the password, a submitter
  can revise their paper, add comments on the further history of the paper
  (such as a reference to later publication in a journal or conference, or to
  a new paper subsuming this work), and so on. The archive keeps and displays
  previous versions of all accepted papers.
</p>
{# TODO: does ePrint keep rejected papers too? (see above) #}
<p>
  A submitter can also withdraw their paper, though the Cryptology ePrint Archive will keep the title
  and abstract of the paper, as well as any past versions. Once withdrawn, a paper
  cannot be restored; re-submissions of withdrawn papers will not be accepted.
</p>
{# TODO: below paragraph doesn't make sense #}
<p>
  The interface is automated: retrieval, submission, and revisions are done by
  scripts on the server. Authors are fully responsible for the content of
  posted work, including copyright. Neither the Cryptology ePrint Archive operators, editors, 
  nor the IACR takes any responsibility in that matter.
</p>
{# TODO: more direct link to which policies apply? #}
<p>
  The Cryptology ePrint Archive operates under <a href="https://www.iacr.org/docs/">the policies
  and guidelines established by the IACR</a>.
</p>

<h3 id="acceptance" class="mt-4 scrolled">
  Acceptance Criteria
</h3>
<div class="row">
  <section class="col-lg-6">
    {# TODO: conditions are 'or' or 'and'? also rewrite; wooden #}
    <p>
      All submissions that are deemed by the editors to:
    </p>
    <ul>
      <li>address research in cryptology and related fields,</li>
      <li>be clear, readable, and self-contained,</li>
      <li>look somewhat new and interesting,</li>
      <li>contain proofs or convincing arguments for any claims</li>
    </ul>
    <p>
      will be accepted and included in the archive. Additionally, submissions must
      not be anonymous and state title, author name(s), and a contact address or
      affiliation(s) on the first page.
    </p>
  </section>
  <section class="col-lg-5">
    <p class="alert alert-warning">
      If a paper is accepted, this does not mean that the editors have verified
      any claims or arguments. Authors are solely responsible for the content
      and the correctness of the published work.
    </p>
  </section>
</div>

<h3 id="license" class="mt-4 scrolled">
  Licensing Conditions
</h3>

{# TODO: proposed revised phrasing: "By submitting a paper to the..., you agree to the following:" #}
<p>
  Submission of a paper to the Cryptology ePrint Archive implies that:
</p>
<ul>
  <li>
    the authors grant IACR a non-exclusive and irrevocable license to
    distribute the paper under an <a href="/licenses">approved license</a>.
  </li>
  <li>
    the authors certify that they have the right to grant this license;
  </li>
  <li>
    the authors are aware that publications cannot be completely removed
    once accepted;
  </li>
  <li>
    all named authors agree with the submission and agree with all policies
    and conditions.
  </li>
</ul>
{# TODO: proposed alternative phrasing below (also last sentence is awk)
In most cases, the authors have the right to grant this license because
they hold the copyright for their own work. If authors intend to
submit, or have submitted, a paper to a journal or another publication
venue, then the authors are responsible for verifying that the selected
license does not conflict with the license or copyright transfer agreement
of the other publication. The
<a href="https://www.iacr.org/docs/">IACR copyright and publication policy</a>
used for IACR's conference and journal publications permits and encourages
that authors submit their work to the Cryptology ePrint Archive. #}
<p>
  In the most common case authors have the right to grant this license because
  they hold the copyright in their own work. Note that if authors intend to
  submit, or have submitted, a paper to a journal or another publication
  venue, then the authors are responsible for verifying that the selected
  license does not conflict with the license or copyright transfer agreement
  of the other publication. The
  <a href="https://www.iacr.org/docs/">IACR copyright and publication policy</a>
  used for IACR's conference and journal publications permits and encourages
  that authors submit their work to the Cryptology ePrint Archive.
</p>

<h3 id="publication" class="mt-4 scrolled">
  Further Publication
</h3>
<p>
  Posting a paper to the Cryptology ePrint Archive does not prevent future or
  concurrent submission to any journal or conference with proceedings. In this
  respect, the papers in the Cryptology ePrint Archive have the status of technical reports.
</p>
{# TODO: couldn't find much documentation fo the terms below. remove? or cite #}
<p>
  Papers submitted may be author versions of published papers <strong>if</strong>
  the copyright holder allows such posting. This is typically called
  Green Open-Access publishing or Open-Access Self-Archiving. It is the
  authors' responsibility to ensure that they have permission of the copyright
  holder to submit such papers to the Cryptology ePrint Archive.
</p>
<p>
  In particular this implies that <em>all</em> author versions of IACR
  proceedings papers may be posted to the Cryptology ePrint Archive for all
  IACR conferences and workshops from 2013 onward. In the
  <a href="https://www.iacr.org/docs/">IACR copyright form</a> such author
  versions are called IACR versions.
</p>

<h3 id="revisions" class="mt-4 scrolled">
  Revised and Withdrawn Papers
</h3>
{# TODO: add exclamation too? set off to side? #}
<p class="alert alert-danger">
  The archive actively discourages from posting different versions of essentially the
  same material as multiple entries. Instead, authors should revise existing papers.
</p>
<p>
  Authors may revise their own papers in the archive; the most recent
  version of a paper is shown first. However, all previous
  versions are stored and can be retrieved through the interface.
  (This includes past versions of all papers since the start of the archive
  in 2000.) Information about further publication of every version should be
  given.
</p>
{# TODO: clarify meaning of last sentence in above p #}
<p>
  Similarly, for papers that have been withdrawn, the previous versions
  remain accessible. The aim of making previous versions available is to
  create transparency and an accurate historical record. It thereby mimics
  features of "publications" in the paper age; if removals or retrospective
  changes were implemented, then the archive would not be considered a
  publication.
</p>
{# TODO: last sentence above extremely confusing #}

<h3 class="mt-4 scrolled">
  On Anonymous Conference Submissions
</h3>
<p>
  Numerous conferences (e.g. Crypto, Eurocrypt, Asiacrypt, CCS, PKC, Security &
  Privacy) currently require submissions to be anonymous. This might raise the
  question of whether or not it is appropriate for authors to put on the
  Cryptology ePrint Archive a paper which is submitted, or will later be submitted, to a
  conference requiring anonymous submissions. The view of IACR and the Cryptology ePrint 
  Archive is that such a posting is permitted and that authors should not be
  penalized by conference program committees for having made such a posting.
  {# TODO: revise following two sentences #}
  If a conference feels that it does not want submissions to be posted prior
  to submission, it is up to the conference to make this clear and explicit in
  their call for papers. Currently, however, calls for papers state rules
  regarding anonymity of submissions but do not state any requirements on
  exposure of the submissions via alternative forums. Indeed, there exist
  numerous ways of widely announcing a new result, including posting on a
  personal website, email, talks, and discussions with colleagues. The
  Cryptology ePrint Archive provides another way to announcing new results. This reflects IACR's
  goals and policies, as confirmed by the IACR Board of Directors meeting on
  May 2, 1999 in Prague:
</p>
<blockquote class="blockquote mx-4 mx-md-5">
  It was ensured that authors are allowed to announce their results in
  public when they are in an anonymous refereeing process, that they can
  tell (and give away papers to) colleagues who work on similar matters and
  should know about an author's results. If an author announces a result
  widely, and committee members are on the distribution list, they should
  not be removed just because the paper is in submission. Authors are
  allowed to give talks on their papers and submit them to existing preprint
  servers, which will usually be announced widely. On the other hand, it is
  not intended that a submitter send letters to all the committee members
  saying who wrote which paper. Anonymous submission just means that papers
  are submitted without author's names and too obvious references.
</blockquote>
<h3 class="mt-4 scrolled">
  Harvesting data
</h3>
<p>
  We support harvesting of metadata through a variety of means, subject
  to the licensing conditions above. In particular this means attribution
  must be given to IACR and to authors. Harvesting methods are
  <a href="/rss">described here</a>.
</p>

<p>
  For more information, read the proposal by Eli Biham and Christian Cachin
  for IACR (in <a href="/misc/pubrep.ps">Postscript</a>,
  <a href="/misc/pubrep.ps.gz">gzipped Postscript</a>, or
  <a href="/misc/pubrep.pdf">PDF</a> format).
</p>
{% endblock %}
