{% include "base_header.html" %}
{#
=================================================================
This template is used to show progress of a LaTeX compliation. It
repeatedly polls for status on the task until it is complete.
=================================================================
#}
<h2 class="mt-5 mb-3">Compiling your paper</h2>
<input type="hidden" name="paperid" value="{{paperid}}">
<h3>Status: <span id="status">PENDING</span></h3>
<progress class="mt-2" id="progress" max="100"></progress>
<script>

 var retries = 0;
 function checkStatus() {
     retries++;
     fetch('/tasks/{{paperid}}/{{version}}')
	 .then((response) => response.json())
	 .then((data) => {
	     console.log(data);
	     document.getElementById('status').innerHTML = data.status;
	     if (data.result) {
		 response = JSON.parse(data.result);
		 if (response.code == 0) {
		     document.getElementById('status').innerText = 'Compilation succeeded. Please check the log and view your PDF';
		 } else {
		     document.getElementById('status').innerText = 'Compilation failed';
		 }
		 document.getElementById('response').innerHTML = response.log;
		 document.getElementById('endOfOutput').scrollIntoView({
		     behavior: 'smooth',
		     block: 'nearest',
		     inline: 'start'});
	     }
	     if (data.status == 'PENDING' || data.status == 'RUNNING') {
		 setTimeout(checkStatus, 3000);
	     } else {
		 location.href = '/view/{{paperid}}/{{version}}'
	     }
	 });
}
setTimeout(checkStatus, 1000);
</script>
{% include "base_footer.html" %}
