{% include "base_header.html" %}
{#
=================================================================
This template is used to show progress of a LaTeX compliation. It
repeatedly polls for status on the task until it is complete.
=================================================================
#}
<h2 class="mt-2 mb-3">Compiling your paper</h2>
<input type="hidden" name="paper_id" value="{{paper_id}}">
<h3>Status: <span id="status">PENDING</span></h3>
<div id="result" class="d-none">
    <h3>LaTeX output</h3>
    <div class="px-3 mt-3" style="overflow-y: scroll;max-height:70vh;background-color:#e8e8e8;">
	<pre id="response"></pre>
	<div id="endOfOutput"><a href="/pdf/{{paperid}}/main.pdf" target="_blank">View PDF</a></div>
    </div>
</div>
<script>

 var retries = 0;
 function checkStatus() {
     retries++;
     fetch('/tasks/{{paper_id}}')
	 .then((response) => response.json())
	 .then((data) => {
	     console.log(data);
	     document.getElementById('status').innerHTML = data.status;
	     if (data.result) {
		 response = JSON.parse(data.result);
		 if (response.code == 0) {
		     document.getElementById('status').innerText = 'Compilation succeeded. Please check the log and view your PDF';
		 } else {
		     document.getElementById('status').innerText = 'Compilation failed';
		 }
		 document.getElementById('response').innerHTML = response.log;
		 document.getElementById('result').classList.remove('d-none');
		 document.getElementById('endOfOutput').scrollIntoView({
		     behavior: 'smooth',
		     block: 'nearest',
		     inline: 'start'});
	     }
	     if (data.status == 'PENDING' || data.status == 'RUNNING') {
		 setTimeout(checkStatus, 3000);
	     } else {
		 location.href = '/view/{{paper_id}}'
	     }
	 });
}
setTimeout(checkStatus, 1000);
</script>
{% include "base_footer.html" %}
