<h3 id="unsupported" class="pt-3">LaTeX packages that are unsupported</h3>
<p>
  We explicitly do not support some LaTeX packages on this
  system because they invoke \write18, \ShellEscape, or
  potentially unsafe lua code. This is enforced by running
  lualatex in a sandbox.  Some of the packages listed below may
  retain part of their functionality, but you should not rely
  upon them.
</p>
<ol class="packages" style="column-count:2;">
  <li>abc</li>
  <li>asyfig/asyprocess</li>
  <li>asyfig</li>
  <li>asypictureB</li>
  <li>autopdf</li>
  <li>auto-pst-pdf</li>
  <li>auto-pst-pdf-lua</li>
  <li>bashful</li>
  <li>bodeplot</li>
  <li>chemobabel</li>
  <li>cnltx</li>
  <li>csvsimple</li>
  <li>ditaa</li>
  <li>dot2texi</li>
  <li>dottex</li>
  <li>download</li>
  <li>elsarticle/pdfwidgets</li>
  <li>epspdfconversion</li>
  <li>epstopdf-base</li>
  <li>feynmp-auto</li>
  <li>fontspec/fontspec-doc-style</li>
  <li>forest</li>
  <li>fotex</li>
  <li>getmap</li>
  <li>gitlog</li>
  <li>gitver</li>
  <li>glossaries-extra</li>
  <li>glossaries</li>
  <li>gmp</li>
  <li>gnuplottex</li>
  <li>graphicscache</li>
  <li>graphicxpsd</li>
  <li>graphviz</li>
  <li>hgb</li>
  <li>horoscop</li>
  <li>hvpygmentex</li>
  <li>hvextern</li>
  <li>iexec</li>
  <li>ifplatform</li>
  <li>imakeidx</li>
  <li>includernw</li>
  <li>indextools</li>
  <li>inline-images</li>
  <li>markdown</li>
  <li>minted</li>
  <li>mi-solns</li>
  <li>moodle</li>
  <li>mpgraphics</li>
  <li>mpostinl</li>
  <li>pdftexcmds</li>
  <li>pdftricks</li>
  <li>pdftricks2</li>
  <li>pdfx</li>
  <li>petri-nets/pndraw</li>
  <li>pgfplots/bugtracker</li>
  <li>preprint (and fullpage)</li>
  <li>profcollege</li>
  <li>pstool</li>
  <li>pstricks</li>
  <li>pstricks/pstricks-pdf</li>
  <li>pygmentex</li>
  <li>python</li>
  <li>rubik</li>
  <li>rubikrotation</li>
  <li>rubiktwocube</li>
  <li>runcode</li>
  <li>shdoc</li>
  <li>shellesc</li>
  <li>standalone</li>
  <li>svg</li>
  <li>svg/svg-extract</li>
  <li>tablor</li>
  <li>tcbextern</li>
  <li>tcolorbox</li>
  <li>texments</li>
  <li>tile-graphic</li>
  <li>toptesi</li>
  <li>tudscr</li>
  <li>ucs</li>
  <li>ulqda</li>
  <li>verbments</li>
  <li>vpe</li>
  <li>xepersian</li>
</ol>



