{% extends "base.html" %}
{#
========================================================================
This template is used to show the status of a compilation for iacrcc.cls
========================================================================
#}
{% block endOfHead %}
{% include "view_header.html" %}
<style>
  .lognav {
    color : #0d6efd;
  }
 .lognav:hover {
    cursor: pointer;
 }
 div.sourcecode {
   overflow-y: scroll;
   max-height:80vh;
   font-family:monospace;
 }
 div#nav-log,  div#latexmk-log {
   overflow-y: scroll;
   max-height:80vh;
   font-family:monospace;
 }
</style>
<script>
 var sources = {
   {% for f in comp.output_files %}
   "{{f}}": "{{url_for('home_bp.view_source', paperid=comp.paperid,version=version,auth=source_auth, filename=f)}}",
   {% endfor %}
 };
 </script>
 <script src="/js/nav.js"></script>
 {% endblock %}
{% block content %}
<main id="mainContent" class="container-fluid px-1 px-lg-3">
  <div id="splitView" class="d-flex w-100">
    <div class="left-column">
      <a class="btn btn-primary my-3" href="{{submit_url}}">You may still resubmit your paper</a>
      {% if comp.error_log %}
      <div class="border border-danger p-3 mb-3 border-3 rounded">
        Unfortunately the compilation of your paper has encountered errors.
      </div>
      <div class="mb-3">
        <h5>Errors:</h5>
        {% for err in comp.error_log %}
        <div class="error_log_entry" data-error_type="{{err.error_type.name}}"
             {% if err.logline %}
             data-logline="{{err.logline}}"
             {% endif %}
             {% if err.pageno %}
             data-pageno="{{err.pageno}}"
             {% endif %}
             {% if filepath %}
             data-filepath="{{err.filepath}}"
             {% endif %}
             {% if filepath_line %}
             data-filepath_line="{{err.filepath_line}}"
             {% endif %}
        >{{err.text}}{% if err.help %}<br><span class="lognav">{{ err.help|safe}}</span>{% endif %}
          <div class="row">
            {% if err.filepath %}
            {% if err.filepath.startswith('/usr/') %}
            {% set filepath = err.filepath.split('/')[-1] %}
            {% else %}
            {% set filepath = err.filepath %}
            {% endif %}
            {% endif %}
            <div class="col-4">
              {% if err.logline %} <span onclick="showLogLine({{err.logline}})" class="lognav" title="Scroll to log line"> Log line {{err.logline}}</span>{% endif %}
            </div>
            <div class="col-4">
              {% if err.pageno %}<span onclick="showPage({{err.pageno}})" class="lognav" title="Scroll to PDF page {{err.pageno}}">PDF page &ge;{{err.pageno}}</span>{% endif %}
            </div>
            <div class="col-4">
              {% if filepath %}<span data-filepath="{{filepath}}" onclick="showSource(this)"
                                     {% if err.filepath_line %}data-filepath_line="{{err.filepath_line}}" {% endif %}
                                     class="lognav" title="Show source file">{{filepath}}
              {% if err.filepath_line %}line {{err.filepath_line}}{% endif %}</span>{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %} {# no errors #}
      <div class="alert alert-success">
        Congratulations - your paper was compiled. The next steps are:
        <ol>
          <li>Check any warnings below. Some of them may be flagged by the copy editor for you to fix.</li>
          <li><a href="{{pdf}}" target="_blank">check your PDF</a> to make sure it looks ok.</li>
          <li>Check the <a href="#" onclick="showMeta()">metadata</a> in the tab on the right</li>
          <li>Once you have checked the PDF, warnings, and metadata, you can submit it
            for {{next_action}} with the button at the bottom of the metadata tab.
          </li>
        </ol>
      </div>
      {% endif %} {# errors #}
      {% if comp.warning_log %}
      <div>
        <h5>Warnings:</h5>
        {% for err in comp.warning_log %}
        <div class="warning_log_entry"
             data-error_type="{{err.error_type.name}}"
             {% if err.logline %}
             data-logline="{{err.logline}}"
             {% endif %}
             {% if err.pageno %}
             data-pageno="{{err.pageno}}"
             {% endif %}
             {% if filepath %}
             data-filepath="{{err.filepath}}"
             {% endif %}
             {% if filepath_line %}
             data-filepath_line="{{err.filepath_line}}"
             {% endif %}>
          {{err.text}}{% if err.help %}<br><span class="lognav">{{ err.help }}</span>{% endif %}
          <div class="row">
            {% if err.filepath %}
            {% if err.filepath.startswith('/usr/') %}
            {% set filepath = err.filepath.split('/')[-1] %}
            {% else %}
            {% set filepath = err.filepath %}
            {% endif %}
            {% endif %}
            <div class="col-4">
              {% if err.logline %} <span onclick="showLogLine({{err.logline}})" class="lognav" title="Scroll to long line"> Log line {{err.logline}}</span>{% endif %}
            </div>
            <div class="col-4">
              {% if err.pageno %}<span onclick="showPage({{err.pageno}})" class="lognav" title="Scroll to PDF page {{err.pageno}}">PDF page &ge;{{err.pageno}}</span>{% endif %}
            </div>
            <div class="col-4">
              {% if filepath %}<span data-filepath="{{filepath}}" onclick="showSource(this)"
                                     {% if err.filepath_line %}data-filepath_line="{{err.filepath_line}}" {% endif %}
                                     class="lognav" title="Show source file">{{filepath}}
              {% if err.filepath_line %}line {{err.filepath_line}}{% endif %}</span>{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %} {# warning_log #}
    </div> {# end of left-column#}
    <div class="resizer"></div>
    <div class="right-column">
      <nav class="mt-3">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-log-tab" data-bs-toggle="tab" data-bs-target="#nav-log"
                  type="button" role="tab" aria-controls="nav-log" aria-selected="true">LaTeX log</button>
          <button class="nav-link" id="latexmk-log-tab" data-bs-toggle="tab" data-bs-target="#latexmk-log"
                  type="button" role="tab" aria-controls="latexmk-log" aria-selected="false">Compilation log</button>
          {% if pdf %}
          <button class="nav-link" id="nav-pdf-tab" data-bs-toggle="tab" data-bs-target="#nav-pdf"
                  type="button" role="tab" aria-controls="nav-pdf" aria-selected="false">PDF</button>
          {% endif %}
          <button class="nav-link" id="nav-source-tab" data-bs-toggle="tab" data-bs-target="#nav-source"
                  type="button" role="tab" aria-controls="nav-source" aria-selected="false">Inputs</button>
          <button class="nav-link" id="nav-meta-tab" data-bs-toggle="tab" data-bs-target="#nav-meta"
                  type="button" role="tab" aria-controls="nav-meta" aria-selected="false">Metadata</button>
        </div>
      </nav>
      <div class="tab-content pt-3" id="nav-tabContent" style="background-color:#ffffff;">
        <div class="tab-pane fade show active p-3" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
          {% for line in loglines %}
          <div id="logline-{{loop.index}}">{{loop.index}}: {{line}}</div>
          {% endfor %}
        </div>
        <div class="tab-pane fade show p-3" id="latexmk-log" role="tabpanel" aria-labelledby="latexmk-log-tab">
          <pre>
         {{comp.log}}
          </pre>
        </div>
        {% if pdf %}
        <div class="tab-pane fade show p-3" id="nav-pdf" role="tabpanel" aria-labelledby="nav-pdf-tab">
          {#        <embed width="100%" height="100vh" style="width:100%;height:80vh;" src="{{pdf}}#page=2">#}
          <iframe id="pdfiframe" width="100%" height="100vh" style="width:100%;height:80vh;" src="{{pdf}}#page=2"></iframe>
        </div>
        {% endif %}
        <div class="tab-pane fade show p-3" id="nav-source" role="tabpanel" aria-labelledby="nav-source-tab">
          <div class="ms-3">
            {% if comp.output_files %}
            Output files from running latexmk: (<a href="/output/{{paperid}}/{{version}}">download zip file</a>)
            <ul>
              {% for f in comp.output_files %}
              <li>{{f}}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div class="tab-pane fade show p-3" id="nav-meta" role="tabpanel" aria-labelledby="nav-meta-tab">
          {% if not comp.meta %}
          <p class="alert alert-warning">
            Metadata extraction only works for iacrcc class. For other document classes, authors will
            be required to fill out an elaborate form to supply author information, affiliations, etc.
          </p>
          {% endif %}
          <h3 id="metadata">Metadata</h3>
          <p class="alert alert-info w-75">
            NOTE: it is important to ensure the accuracy of your metadata, since we use it for
            generating the HTML page, registering the DOI, and registering it with multiple
            indexing services. If something is wrong or missing, then you should correct it in the
            LaTeX source and submit it again. We will not publish email addresses.
          </p>
          <div class="mx-3">
            <div class="elem" id="paperid"><div class="elem_title">paper id:</div> {{comp.paperid}}</div>
            <div class="elem" id="venue"><div class="elem_title">venue:</div> {{comp.venue}}</div>
            <div class="elem" id="paper_title"><div class="elem_title">Title:</div> {{comp.meta.title}}</div>
            <div class="elem" id="abstract"><div class="elem_title">Abstract:</div><div class="w-75" style="white-space:pre-wrap;">{{comp.meta.abstract}}</div></div>
            <div class="elem" id="error_log" style="background-color:red;">
            </div>
            <h5 class="mt-3">Authors</h5>
            <div class="list-group">
              {% for author in comp.meta.authors %}
              <div class="author list-group-item">
                <div class="d-flex author_name"><div class="elem_title">name:</div> {{author.name}}</div>
                <div class="d-flex author_surname"><div class="elem_title">surname:</div>{% if author.familyName %}{{author.familyName}}{% else %}<span class="text-danger">None</span>{% endif %}</div>
                <div class="d-flex author_email"><div class="elem_title">email:</div> {{author.email}}</div>
                <div class="d-flex author_orcid"><div class="elem_title">orcid:</div>
                  {% if author.orcid %}<a target="_blank" href="https://orcid.org/{{author.orcid}}">{{author.orcid}}</a>{% else %}<span class="text-danger">None (<a target="_blank" href="https://orcid.org/orcid-search/search?searchQuery={{author.name|urlencode}}">search</a>)</span>{% endif %}</div>
                <div class="d-flex"><div class="elem_title">Affiliations:</div>
                  {% if author.affiliations %}
                  <div class="list-group">
                    {% for affil in author.affiliations %}
                    <div class="affiliation list-group-item">
                      {% set aff=comp.meta.affiliations[affil-1] %}
                      <div class="elem"><div class="elem_title">name:</div> {{aff.name}}</div>
                      <div class="elem"><div class="elem_title">ROR:</div> {% if aff.ror %}<a href="https://ror.org/{{aff.ror}}" target="_blank">{{aff.ror}}</a>{% else %}<span class="text-danger">None (<a href="/funding?textq={{aff.name|urlencode}}&ror=true" target="_blank">search</a>){% endif %}</div>
                        <div class="elem"><div class="elem_title">Street:</div> {{aff.street}}</div>
                        <div class="elem"><div class="elem_title">City:</div> {{aff.city}}</div>
                        <div class="elem"><div class="elem_title">Post code:</div> {{aff.postcode}}</div>
                        <div class="elem"><div class="elem_title">Country:</div> {{aff.country}}</div>
                    </div>
                    {% endfor %}
                  </div>
                  {% else %}
                  <span class="text-danger">None</a>
                    {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
            <h5 class="mt-3">Bibliography</h5>
            <div class="elem" id="bibtex">{% if comp.bibtex %}<pre>{{comp.bibtex}}</pre>{% else %}<span class="text-danger">None</span>{% endif %}</div>
            <table class="table ms-3 mt-2 table-bordered">
              <tbody>
                <tr>
                  <th>Date compiled:</th>
                  <td>{{comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                </tr>
                <tr>
                  <th>Compilation time:</th>
                  <td>{{comp.compile_time}} seconds</td>
                </tr>
                <tr>
                  <th>Return code from latexmk:</th>
                  <td>{{comp.exit_code}}</td>
                </tr>
              </tbody>
            </table>
            <div class="elem" id="status"><div class="elem_title">status:</div> {{comp.status.value}}</div>
            {#  <div class="elem" id="exit_code"><div class="elem_title">exit code:</div> {{comp.exit_code}}</div>#}
            <div class="elem" id="email"><div class="elem_title">email:</div> {{comp.email}}</div>
            <div class="elem" id="submitted"><div class="elem_title">submitted:</div> {{comp.submitted}}</div>
            <div class="elem" id="accepted"><div class="elem_title">accepted:</div> {{comp.accepted}}</div>
            <div class="elem" id="compiled"><div class="elem_title">compiled:</div> {{comp.compiled}}</div>
            <div class="elem" id="compile_time"><div class="elem_title">compile_time:</div> {{comp.compile_time}} seconds</div>
            <div class="elem" id="doi"><div class="elem_title">DOI:</div> {{comp.meta.doi}}</div>
            <div class="elem" id="zipfile"><div class="elem_title">zip filename:</div> {{comp.zipfilename}}</div>
          </div>
          {% if form %}
          <div class="alert alert-info mt-3">
            If you are satisfied with your paper and your metadata, you can
            submit it for {{next_action}}. This will {% if
            version=='CANDIDATE' %}recompile a version with line numbers
            added and {% endif %}send it to the copy editor. <span class="text-danger">Once you do this, you can no longer upload a
            new version until the next review phase is completed.</span>
            <br><br>
            {% if form.errors %}
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <div class="alert alert-danger">
              {{ form[field_name].label }}: {{ error }}
            </div>
            {% endfor %}
            {% endfor %}
            {% endif %}
            <form method="POST"
                  {% if version=='candidate' %}
                  action="{{url_for('home_bp.compile_for_copyedit')}}"
                  {% else %}
                  action="{{url_for('home_bp.final_review')}}"
                  {% endif %}
                  enctype="multipart/form-data">
              {{ form.csrf_token }}
              {% if form.auth.errors %}
              {% for msg in form.auth.errors %}
              <div class="alert alert-danger">{{ msg }}</div>
              {% endfor %}
              {% endif %}
              {{ form.auth }}
              {% if form.version.errors %}
              {% for msg in form.version.errors %}
              <div class="alert alert-danger">{{ msg }}</div>
              {% endfor %}
              {% endif %}
              {{ form.version }}
              {% if form.email.errors %}
              {% for msg in form.email.errors %}
              <div class="alert alert-danger">{{ msg }}</div>
              {% endfor %}
              {% endif %}
              {{form.email}}
              {% if form.paperid.errors %}
              {% for msg in form.paperid.errors %}
              <div class="alert alert-danger">{{ msg }}</div>
              {% endfor %}
              {% endif %}
              {{ form.paperid }}
              {{ form.submit(class_='mt-1 btn btn-primary') }}
            </form>
          </div>
          {% endif %} {# form #}
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %} {# content #}
{% block endOfPage %}
{% include "view_footer.html" %}
{% endblock %}

