{% extends "base.html" %}
{#
========================================================================
This template is used to show the status of a compilation for copyedit
========================================================================
#}
{% block endOfHead %}
{% include "view_header.html" %}
<style>
 nav#sitenav {
   max-height:10vh;
 }
 div#pdf_viewer, div#discussion {
   height: 85vh;
 }
 div#responses {
   height:78vh;
   overflow-y:scroll;
 }
 div[data-status="PENDING"] {
   display:none;
  }
 div[data-status="WILLFIX"] {
   background-color: #c0ffc0;
  }
 div[data-status="CLARIFY"] {
   background-color: #f0c0f0;
  }
 div[data-status="DECLINED"] {
   background-color: #fff3cd;
 }
</style>
<script>
 var sources = {
   {% for f in comp.output_files %}
   "{{f}}": "{{url_for('home_bp.view_source', paperid=comp.paperid,version=version,auth=source_auth, filename=f)}}",
   {% endfor %}
 };
 var allSources = "{{url_for('home_bp.view_source', paperid=comp.paperid,version=version,auth=source_auth)}}";
 </script>
 <script src="/js/nav.js?v=4"></script>
{% endblock %}
{% block content %}
<main id="mainContent" class="container-fluid px-3 px-md-4">
  <script>
   var statusValues = {{status_values|safe}};
   function showReply(id, pageno, lineno, token) {
     document.getElementById("modal-item-div").innerHTML = document.getElementById('item-div-' + id).innerHTML;
     document.getElementById('replyId').value = id;
     document.getElementById('token').value = token;
     document.getElementById('reply-text').value = document.getElementById('reply-'+id).innerText;
     let status = document.getElementById('item-'+id).dataset.status;
     document.querySelectorAll('input[name="response"]').forEach((el) => {
       el.checked = (el.id == status);
     });
     const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('replyModal'));
     modal.show();
   }
</script>
<div class="row">
  <div class="col-8" id="pdf_viewer">
  <ul class="nav nav-tabs mt-2" id="editTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="nav-pdf-tab" data-bs-toggle="tab" data-bs-target="#nav-pdf" type="button" role="tab" aria-controls="nav-pdf" aria-selected="true">PDF</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-html-tab" data-bs-toggle="tab" data-bs-target="#nav-html" type="button" role="tab" aria-controls="nav-html" aria-selected="false">HTML</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-log-tab" data-bs-toggle="tab" data-bs-target="#nav-log" type="button" role="tab" aria-controls="nav-log" aria-selected="false">Log</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-source-tab" data-bs-toggle="tab" data-bs-target="#nav-source" type="button" role="tab" aria-controls="nav-source" aria-selected="false">LaTeX</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="nav-meta-tab" data-bs-toggle="tab" data-bs-target="#nav-meta" type="button" role="tab" aria-controls="nav-meta" aria-selected="false">Metadata</button>
    </li>
  </ul>
  <div class="tab-content" id="editTabContent">
    <div class="tab-pane fade show active" id="nav-pdf" role="tabpanel" aria-labelledby="nav-pdf-tab" tabindex="0">
      <iframe id="pdfiframe" style="width:100%;height:85vh;" src="{{url_for('home_bp.show_pdf', paperid=paperid,version='copyedit',auth=pdf_auth)}}#view=FitH&page=1"></iframe>
    </div>
    <div class="tab-pane fade show p-3 mathjax" id="nav-html" role="tabpanel" aria-labelledby="nav-html-tab">
      <p class="alert alert-info">
        This is approximately what part of the HTML page will look like. Please check the title, authors, abstract,
        and references. Note that HTML rendering of references may be malformed by using <tt>\url</tt> inside the
        <tt>howpublished</tt> field. Google scholar and eprint links are approximate, so they need not point to the paper.
      </p>
      {% include "html.html" %}
    </div>
    <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab" tabindex="0">
      {% include "logview.html" %}
      {% for line in loglines %}
      <div id="logline-{{loop.index}}">{{loop.index}}: {{line}}</div>
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-source" role="tabpanel" aria-labelledby="nav-source-tab" tabindex="0">
      <div class="px-5 py-3">
        {% include "nav_source_tab.html" %}
      </div>
    </div>
    <div class="tab-pane fade" id="nav-meta" role="tabpanel" aria-labelledby="nav-meta-tab" tabindex="0">
      {% include "admin/metadata.html" %}
    </div>
  </div> {# end of tab-content #}
</div>
<div class="col-4" id="discussion">
    <div class="d-flex flex-column align-items-center">
      <h4 class="text-center my-2">Copy edit on {{paperid}}</h4>
      <div id="allowUpload" class="alert alert-success upload {% if not upload %}collapse{% endif %}">
        <div class="row align-items-center">
          <div class="col-6">You may now upload your final version</div>
          <div class="col-6"><a target="_blank" id="upload" class="btn btn-primary" href="{{upload}}">Upload final version</a></div>
        </div>
      </div>
      <p class="alert alert-info alert-dismissible fade show" role="alert"> Please
        reply to each item below (use this page as a checklist to
        update your LaTeX). You can
        <a href="{{url_for('home_bp.download_output_zipfile', version='candidate', paperid=paperid)}}">download the
          previous zip file if you like.</a>
        Try to confine your changes to only these
        issues.  Once you respond to all items, a button will appear that
        allows you to upload the final version.
        <button type="button" title="Answer all items below" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
      </p>
      <div id="responses">
        {% for item in items %}
        <div class="alert alert-secondary">
          <div class="item pb-1 d-flex justify-content-between">
            <div id="item-div-{{item.id}}">
              <div><span onclick="showPage({{item.pageno}})" class="lognav">Page {{item.pageno}}</span>, line {{item.lineno}}</div>
              <span>{{item.text}}</span>
            </div>
            <div class="ps-2 d-flex flex-column align-items-center">
              <button id="butt-{{item.id}}" class="mb-2 btn btn-sm
                          {% if item.status.name == 'PENDING' %}btn-warning{% else %}btn-secondary{% endif %}"
                      onclick="showReply({{item.id}},{{item.pageno}},{{item.lineno}}, '{{item.token}}')"
                      title="Reply to the copy editor">{% if item.status.name == 'PENDING' %}Reply{% else %}Edit{% endif %}</button>
{#              <span id="check-{{item.id}}" class="d-none text-success mt-2">✔</span>#}
            </div>
          </div>
                <div class="d-flex flex-column justify-content-between w-100">
                  <div id="warning-text-{{loop.index}}">{{item.text}}</div>
                  <div class="d-flex justify-content-between">
                    <div class="">
                      {% if item.text.startswith('bibtex entry ') %}
                      {% set bibtex_key = item.text.split()[2] %}
                      <span class="lognav" onclick="scrollToBibtex('{{bibtex_key}}');">Show bibtex entry</span>
                      {% else %}
                      {% if item.logline %}<span onclick="showLogLine('{{item.error_type[:6]}}', {{item.logline}})" class="lognav" title="Scroll to log line"> Log line {{item.logline}}</span>{% endif %}
                      {% endif %}
                    </div>
                    <div class="">
                      {% if item.pageno %}<span onclick="showPage({{item.pageno}})" class="lognav" title="Scroll to PDF page {{item.pageno}}">PDF page &ge;{{item.pageno}}</span>{% endif %}
                    </div>
                    <div class="text-end">
                      {% if filepath %}<span data-filepath="{{filepath}}" onclick="showSource(this)"
                                             {% if item.filepath_line %}data-filepath_line="{{item.filepath_line}}" {% endif %}
                                             class="lognav" title="Show source file">{{filepath}}
                      {% if item.filepath_line %}line {{item.filepath_line}}{% endif %}</span>{% endif %}
                    </div>
                  </div>
                  {% if item.help %}
                  <div>{{item.help|safe}}</div>
                  {% endif %}
          <div class="row"><div class="col-4">This</div></div>
          <div class="item px-3 p-1" data-status="{{item.status.name}}" id="item-{{item.id}}">Status: <span id="status-{{item.id}}">{{item.status.value}}</span>. <span id="reply-{{item.id}}">{% if item.reply %}{{item.reply}}{% endif %}</span></div>
        </div>
        {% endfor %}
        {% if archived_items %}
        <h5>Archived items below</h5>
        {% for item in archived_items %}
        <div class="alert alert-secondary">
          <div class="item pb-1 d-flex justify-content-between">
            <div id="item-div-{{item.id}}">
              <div>Page {{item.pageno}}, line {{item.lineno}}</div>
              <span>{{item.text}}</span>
            </div>
          </div>
          <div class="item px-3 p-1" data-status="{{item.status.name}}" id="item-{{item.id}}">Status: <span id="status-{{item.id}}">{{item.status.value}}</span>. <span id="reply-{{item.id}}">{% if item.reply %}{{item.reply}}{% endif %}</span></div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>  
<script>
 function setError(msg) {
   let elem = document.getElementById('error_msg');
   elem.innerText = msg;
   if (msg === '') {
     elem.classList.add('d-none');
   } else {
     elem.classList.remove('d-none');
   }
 }
 function sendResponse() {
   let id = document.getElementById('replyId').value;
   let response = null;
   let radios = document.getElementsByName('response');
   for (let i=0;i<radios.length;i++) {
     if (radios[i].id, radios[i].checked) {
       response = radios[i].value;
     }
   }
   if (response == null) {
     setError('Please indicate your response');
     return;
   }
   let text = document.getElementById('reply-text').value;
   if (response === "DECLINED" && text === '') {
     setError('Please supply a reason below.');
     return;
   }
   if (response === "CLARIFY" && text === '') {
     setError('Please supply a reason below.');
     return;
   }
   let token = document.getElementById('token').value;
   let data = {'id': id, 'token': token, 'reply': text, 'status': response};
   console.log(data);
   let url = '/respond_to_comment/{{paperid}}/' + id + '/' + token;
   fetch(url, {
     method: "POST",
     mode: "cors",
     cache: "no-cache",
     headers: {
       "Content-Type": "application/json",
     },
     redirect: "follow",
     body: JSON.stringify(data)
   }).then((response) => response.json()).then((res) => {
     console.log(res);
     if ('error' in res) {
       setError(res['error'] + ' This is a bug.');
       return;
     }
     let item = document.getElementById('item-' + id);
     item.dataset.status = response;
     document.getElementById('status-'+id).innerText = statusValues[response];
     document.getElementById('reply-'+id).innerText = text;
     {# document.getElementById('check-' + id).classList.remove('d-none');#}
     let butt = document.getElementById('butt-'+id);
     butt.innerText = 'Edit';
     butt.classList.remove('btn-warning');
     butt.classList.add('btn-secondary');
     {# res['upload'] is sent once all items are answered. #}
     if ('upload' in res) {
       let link = document.getElementById('upload');
       link.href = res['upload'];
       document.querySelectorAll('.upload').forEach((el) => {
         el.classList.remove('d-none');
       });
       window.scrollTo({
         top: 0,
         behavior: 'smooth'
       });
       setTimeout(() => {
         const bsc = new bootstrap.Collapse('#allowUpload');
         bsc.show();
       }, 1000);
       //link.scrollIntoView({'behavior': 'smooth'});
     }
     const modal = bootstrap.Modal.getOrCreateInstance(document.getElementById('replyModal'));
     modal.hide();
   });
 }
</script>
<div class="modal fade" id="replyModal" tabindex="-1" aria-labelledby="replyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="replyModalLabel">Respond to copy editors</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Original item:</p>
        <input type="hidden" id="replyId">
        <input type="hidden" id="token">
        <div id="modal-item-div" class="alert alert-secondary"></div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="response" id="WILLFIX" value="WILLFIX" onclick="setError('')">
          <label class="form-check-label" for="WILLFIX">I will fix it</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="response" id="DECLINED" value="DECLINED" onclick="setError('')">
          <label class="form-check-label" for="DECLINED">I will not change it</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="response" id="CLARIFY" value="CLARIFY" onclick="setError('')">
          <label class="form-check-label" for="CLARIFY">Need clarification</label>
        </div>
        <div id="error_msg" class="form-text text-danger d-none"></div>
        <textarea id="reply-text" name="text" class="mb-3 mt-2 form-control" placeholder="Enter text response if desired"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onClick="sendResponse()">Respond</button>
      </div>
    </div>
  </div>
</div>
</main>
{% endblock %} {# content #}
{% block endOfPage %}
{% include "view_footer.html" %}
{% endblock %}
