{# This is used to view either a single source file or a list of
   all source files. It is fetched via an ajax call.
#}
{% if message %}
<div class="alert alert-warning">{{message}}</div>
{% endif %}
{% if input_files %}
<div class="py-3">
  <ol>
  {% for f in input_files %}
  <li title="Show source file"><span class="lognav" data-filepath="{{f}}" onclick="showSource(this)">{{f}}</span></li>
  {% endfor %}
  </ol>
</div>
{% else %}
<span data-filepath="" onclick="showSource(this)" class="lognav" title="Show all source files">Show all source files</span>
  <div class="sourcecode">
  {% for line in lines %}
  <div id="sourceline-{{loop.index}}">{{loop.index}}: {{line}}</div>
  {% endfor %}
</div>
{% endif %}
