{# This is used to view either a single source file or a list of
   all source files. It is fetched via an ajax call.
#}
{% if input_files %}
<div class="px-5 py-3">
  {% for f in input_files %}
  <span data-filepath="{{f}}" onclick="showSource(this)" class="lognav" title="Show source file">{{f}}</span><br>
  {% endfor %}
</div>
{% else %}
<span data-filepath="" onclick="showSource(this)" class="lognav" title="Show all source files">Show all source files</span>
  <div class="sourcecode">
  {% for line in lines %}
  <div id="sourceline-{{loop.index}}">{{loop.index}}: {{line}}</div>
  {% endfor %}
</div>
{% endif %}
