<style>
 div.warning_log_entry, div.error_log_entry {
   padding: .75rem .5rem .75rem .5rem;
   border-radius: .375rem;
   margin-top: 1rem;
   box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
 }
  div.warning_log_entry {
   background-color: #fef7b8; /* #fff0a8;*/
 }
  div.warning_log_entry.METADATA_WARNING {
   background-color: #ffe035;
 }
 div.error_log_entry {
   background-color: #f8d7da; /* #ffd0d0;*/
 }
 div.highlight_log_line {
   background-color:rgba(255, 240, 168, 0.6);
 }
 div.elem {
   display: flex;
 }
 div.list_heading {
   font-weight: 600;
 }
 div.elem_title {
   text-align: right;
   font-weight: 600;
   padding-right: 1em;
   min-width: 8rem;
 }
 mark {
   scroll-margin: 5em;
 }
 mark.latexError {
   background-color: #f8d7da;
 }
 div#splitView {
   max-height: 88vh;
 }
 /* these are resizable. */
 .left-column {
   width: 35%;
   overflow-y: scroll;
   padding-right: .75rem;
 }
 .right-column {
   width: 65%;
   padding-left: .75rem;
   max-height: 80vh;
 }
</style>
  
<script id="MathJax-script" async src="/js/mathjax/tex-chtml.js"></script>
<script src="/js/mark.min.js"></script>
