{% extends "base.html" %}
{#
========================================================================
This template is used to show the status of a compilation for iacrcc.cls
========================================================================
#}
{% block endOfHead %}
{% include "view_header.html" %}
{% endblock %}
{% block content %}
<main id="mainContent" class="container-fluid px-3 px-md-4">
<nav class="mt-3">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-log-tab" data-bs-toggle="tab" data-bs-target="#nav-log"
            type="button" role="tab" aria-controls="nav-log" aria-selected="true">Status</button>
    <button class="nav-link" id="nav-output-tab" data-bs-toggle="tab" data-bs-target="#nav-output"
            type="button" role="tab" aria-controls="nav-output" aria-selected="false">Output</button>
  </div>
</nav>
<div class="tab-content pt-3" id="nav-tabContent" style="background-color:#ffffff;">
  <div class="tab-pane fade show active p-3" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab">
    <a class="btn btn-primary mb-3" href="{{url_for('home_bp.show_submit_version', paperid=paperid,version=version,auth=auth,email=comp.email,venue=comp.venue.value,submitted=comp.submitted,accepted=comp.accepted)}}">You may still resubmit your paper</a>
    <div class="alert alert-success">
      Congratulations - your paper was compiled. The next steps are:
      <ol>
        <li><a href="{{pdf}}" target="_blank">check your PDF</a> to make sure it looks ok.</li>
        <li>Check any warnings below</li>
        <li>Check the <a href="#metadata">metadata</a> below</li>
        <li>Once you have checked the PDF, warnings, and metadata, you can submit it
          for copy editing.
        </li>
      </ol>
    </div>
    {% include "compilation.html" %}
    <div class="alert alert-info mt-3">
      If you are satisfied with your paper and your metadata, you can submit it for
      copy editing. This will recompile a version with line numbers added and send it
      to the copy editor. <span class="text-danger">Once you do this, you can no longer upload a
      new version until copy editing is finished.</span>
      <br><br>
    {% if form.errors %}
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <div class="alert alert-danger">
            {{ form[field_name].label }}: {{ error }}
          </div>
         {% endfor %}
      {% endfor %}
    {% endif %}
    <form method="POST" action="{{url_for('home_bp.compile_for_copyedit')}}" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {% if form.auth.errors %}
        {% for msg in form.auth.errors %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      {{ form.auth }}
      {% if form.version.errors %}
        {% for msg in form.version.errors %}
        <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      {{ form.version }}
      {% if form.email.errors %}
        {% for msg in form.email.errors %}
          <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      {{form.email}}
      {% if form.paperid.errors %}
        {% for msg in form.paperid.errors %}
          <div class="alert alert-danger">{{ msg }}</div>
        {% endfor %}
      {% endif %}
      {{ form.paperid }}
      {{ form.submit(class_='mt-1 btn btn-primary') }}
    </form>
    </div>
  </div>
  <div class="tab-pane fade" id="nav-output" role="tabpanel" aria-labelledby="nav-output-tab">
    {% if pdf %}<h3 class="ms-3 mt-3"><a href="{{pdf}}" target="_blank">View PDF</a></h3>{% endif %}
    <table class="table ms-3 mt-2 table-bordered">
      <tbody>
        <tr>
          <th>Date compiled:</th>
          <td>{{comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        </tr>
        <tr>
          <th>Compilation time:</th>
          <td>{{comp.compile_time}} seconds</td>
        </tr>
        <tr>
          <th>Return code from latexmk:</th>
          <td>{{comp.exit_code}}</td>
        </tr>
      </tbody>
    </table>
    <div class="ms-3">
      {% if comp.output_tree %}
      Output files from running latexmk: (<a href="/output/{{paperid}}/{{version}}">download zip file</a>)
      <ul>
        {% for el in comp.output_tree.children recursive %}
        <li>{{el.name}}
          {% if el.children %}<ul style="list-style: '-';">{{ loop(el.children) }}</ul>{% endif %}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <h3>output log</h3>
      <pre id="latexLog">{{latexlog}}</pre>
      <div id="endOfOutput">{% if pdf %}<a href="{{pdf}}" target="_blank">View PDF</a>{% endif %}</div>
    </div>
  </div>
</div>
</main>
{% endblock %} {# content #}
{% block endOfPage %}
{% include "view_footer.html" %}
{% endblock %}

