{# this is included in endOfPage for anything containing the compilation log #}
<script src="/js/resize.js"><script>
<script>
  MathJax = {
     tex: {
       inlineMath: [['$', '$'], ['\\(', '\\)']],
       displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
       processEnvironments: false
     }
   };
   console.log('marking')
   var instance = new Mark("pre#latexLog");
   instance.markRegExp(/LaTeX Warning/, {'accuracy': 'exact'});
   instance.markRegExp(/Error:|Emergency stop\.|Undefined control sequence/, {'accuracy': 'exact', 'className': 'latexError'});
</script>
