{% extends "admin/admin_base.html" %}
{% block content %}
<h1 class="mb-5 text-center">Admin console</h1>
<p>
  This page is reserved for the Cryptology ePrint Archive editor(s). You can:
</p>
<ul>
  <li><a href="/admin/review/">Review and approve new submissions</a></li>
  <li><a href="/admin/review/?unconfirmed=true">Review and approve new submissions (includes unconfirmed papers)</a></li>
  {#<li><a href="/admin/reset/">Reset the counter in directory xxxx (only works if no new submissions are currently present.</a>
    <span class="text-danger"> (not yet implemented)</span></li>#}
  <li><a href="/admin/edit">Edit a paper</a></li>
</ul>
{% endblock %}
