
{% extends "admin/admin_base.html" %}
{% block content %}
<h1 class="mb-5 text-center">List of users</h1>
<a class="btn btn-primary" href="{{url_for('admin_file.user')}}">Create user</a>
<table class="table sortable mt-3" id="paperlist">
  <thead>
    <tr>
      <th>ID</th>
      <th>email</th>
      <th>Role</th>
      <th>creation date</th>
      <th>last login</th>
    </tr>
  </thead>
  <tbody>
    {% for user in all_users %}
    <tr>
      <td>{{user.id}}</td>
      <td><a href="{{url_for('admin_file.user', id=user.id)}}">{{user.email}}</a></td>
      <td>{{user.role.value}}</td>
      <td>{{user.created_on}}</td>
      <td>{{user.last_login}}</td>
    {% endfor %}
  </tbody>
</table>
<script src="/js/sorttable.js"></script>
{% endblock %}
