{% extends "admin/admin_base.html" %}
{% block head %}
{{ super() }}
<script src="/js/handlebars.min-v4.7.7.js"></script>
<style>
  .lognav {
    color : #0d6efd;
  }
 .lognav:hover {
    cursor: pointer;
 }
 img.icon {
   width: 16px;
   cursor: pointer;
   margin-top: .25rem;
   margin-bottom: .25rem;
 }
 .discussionTabs {
   max-height:75vh;
   overflow-y:scroll;
 }
 ul#myTab .nav-item button.active, #tabContent {
   background-color: #f0f0f0;
 }
 alert.list-group-item {
   opacity: 0;
   transition: all 0.6s ease-out;
 }
 alert.list-group-item.show {
   opacity: 1;
 }
 div#nav-log {
   padding: 1rem .5rem 1rem .5rem;
   overflow-y: scroll;
   max-height:80vh;
   font-family:monospace;
 }
 div.sourcecode {
   overflow-y: scroll;
   max-height:80vh;
   font-family:monospace;
 }
 div.highlight_log_line {
   background-color:rgba(255, 240, 168, 0.6);
 }
 div#splitView {
   max-height: 88vh;
 }
 div#editTabContent > div {
   max-height: 85vh;
   overflow-y: scroll;
 }
 /* these are resizable. */
 .left-column {
   width: 65%;
   overflow-y: scroll;
   padding-right: .75rem;
 }
 .right-column {
   width: 35%;
   padding-left: .75rem;
   max-height: 80vh;
 }
 div[data-status="PENDING"] {
   background-color: #e0f0e0;
  }
 div[data-status="WILLFIX"] {
   background-color: #c0ffc0;
  }
 div[data-status="CLARIFY"] {
   background-color: #f0c0f0;
  }
 div[data-status="DECLINED"] {
   background-color: #fff3cd;
 }
 .table th {
   width: 12rem;
   text-align: right !important;
 }
 div.BIBTEX_WARNING {
   background-color: #f8e57c;
 }
 
</style>
{# this template is used for generating notes from javascript. #}
{% raw %}
<script id="item_template" type="text/x-handlebars-template">
  <alert class="alert list-group-item list-group-item-secondary fade show" id="item-{{id}}">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column justify-content-between w-100">
        <div>
          <div class="d-flex justify-content-between">
            <div>Page <span id="pageno-{{id}}">{{pageno}}</span>,
              line <span id="lineno-{{id}}">{{lineno}}</span>
            </div>
            <span class="me-2">Creator: {{creator}}</span>
          </div>
          <span id="text-{{id}}">{{text}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <div>{{#if logline}}<span onclick="showLogLine({{logline}})" class="lognav" title="Scroll to log line">Log line {{logline}}</span>{{/if}}
          </div>
          <div>{{#if pageno}}<span onclick="showPage({{pageno}})" class="lognav" title="Scroll to PDF page {{pageno}}">PDF page &ge;{{pageno}}</span>{{/if}}
          </div>
          <div class="text-end">{{#if source_file}}<span data-filepath="{{source_file}}" onclick="showSource(this)"
             {{#if source_lineno}}data-filepath_line="{{source_lineno}}" {{/if}}
               class="lognav" title="Show source file">{{source_file}}
               {{#if source_lineno}}line {{source_lineno}}{{/if}}</span>{{/if}}
           </div>
        </div>
      </div>
      <div class="ps-2 d-flex flex-column align-items-end">
        <img src="/img/delete-icon.svg" class="icon" onclick="deleteNote({{id}})" title="Delete">
        {{#if archived }}<span class="mt-3 badge text-bg-warning">Archived</span>{{/if}}
      </div>
    </div>
    {{#if archived}}<div class="item px-3 p-1" data-status="{{status.name}}">Status: <span>{{status.value}}</span>. <span>{{#if reply }}{{reply}}{{/if}}</span></div>{{/if}}
  </alert>
</script>
{% endraw %}
<script>
 function resetForm() {
   document.getElementById('error_msg').classList.add('d-none');
   document.getElementById('pageno').value = null;
   document.getElementById('lineno').value = null;
   document.getElementById('text').value = '';
   document.getElementById('source_select').selectedIndex = -1;
   document.getElementById('sourceline').value = '';
   document.getElementById('logline').value = '';
   document.getElementById('warning_id').value = '';
 }

 {#  We never finished this. #}
 function editNote(id) {
   console.log('edit ' + id);
 }

 function deleteNote(id) {
   console.log('deleting ' + id);
   let data = {'action': 'delete', 'id': id};
   fetch('/admin/comment', {
     method: "POST",
     mode: "cors",
     cache: "no-cache",
     credentials: "same-origin",
     headers: {
       "Content-Type": "application/json",
     },
     redirect: "follow",
     body: JSON.stringify(data)
   }).then((response) => response.json()).then((data) => {
     console.log(data);
     if ('id' in data) {
       let elem = document.getElementById('item-' + data['id']);
       elem.ontransitionend = function() {
         elem.remove();
         showHasIssues();
       }
       elem.classList.remove('show');
       console.log('removed ' + data['id']);
     }
   });
 }

 var item_template = Handlebars.compile(document.getElementById('item_template').innerHTML);

 function appendComment(data) {
   let id = 'discussion';
   if (data.archived) {
     id = 'archived';
   }
   let discussion = document.getElementById(id);
   discussion.innerHTML = discussion.innerHTML + item_template(data);
 }

 function setErrorMessage(txt) {
   let error_msg = document.getElementById('error_msg');
   error_msg.innerHTML = txt;
   if (txt === "") {
     error_msg.classList.add('d-none');
   } else {
     error_msg.classList.remove('d-none');
   }
 }

 {# This works by sending making basic checks on the client and then sending
   it to the server to get the ID back. #}
 function addComment() {
   let text = document.getElementById('text').value;
   if (text === '') {
     setErrorMessage('You must supply note to author');
     return;
   }
   let lineno = +document.getElementById('lineno').value;
   if (lineno < 0) {
     setErrorMessage('Invalid line number');
     return;
   }
   let pageno = +document.getElementById('pageno').value;
   if (pageno < 1) {
     setErrorMessage('Invalid page number');
     return;
   }
   let data = {'action': 'add',
               'paperid': '{{paper.paperid}}',
               'pageno': +document.getElementById('pageno').value,
               'lineno': +document.getElementById('lineno').value,
               'text': document.getElementById('text').value,
               'creator_email': document.getElementById('copyedit_email').value};
   if (document.getElementById('source_select').value) {
     data['source_file'] = document.getElementById('source_select').value;
   }
   if (document.getElementById('sourceline').value) {
     data['source_lineno'] = document.getElementById('sourceline').value;
   }
   if (document.getElementById('logline').value) {
     data['logline'] = +document.getElementById('logline').value;
   }
   if (document.getElementById('warning_id').value) {
     data['warning_id'] = +document.getElementById('warning_id').value;
   }
   resetForm();
   fetch('/admin/comment', {
     method: "POST",
     mode: "cors", // no-cors, *cors, same-origin
     cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
     credentials: "same-origin", // include, *same-origin, omit
     headers: {
       "Content-Type": "application/json",
     },
     redirect: "follow", // manual, *follow, error
     body: JSON.stringify(data), // body data type must match "Content-Type" header
   }).then((response) => response.json()).then((data) => {
     console.dir(data);
     if ("error" in data) {
       setErrorMessage(data['error']);
       return;
     }
     appendComment(data); // data['id'], data['pageno'], data['lineno'], data['text']);
     showHasIssues();
     document.getElementById('item-'+data.id).scrollIntoView({behavior: "smooth", block: "start"});
   });
 }

 {# Used for requesting a fix from a warning in the log. #}
 function requestFix(index) {
   resetForm();
   let el = document.getElementById('warning-' + index);
   if (el) {
     if ('pageno' in el.dataset) {
       showPage(el.dataset.pageno);
       document.getElementById('pageno').value = el.dataset.pageno;
     }
     if ('sourcefile' in el.dataset) {
       document.getElementById('source_select').value = el.dataset.sourcefile;
     }
     if ('sourceline' in el.dataset) {
       document.getElementById('sourceline').value = el.dataset.sourceline;
     }
     if ('logline' in el.dataset) {
       document.getElementById('logline').value = el.dataset.logline;
     }
     document.getElementById('text').value = 'Please fix: ' + document.getElementById('warning-text-' + index).innerText;
     setErrorMessage('Please supply a page number and line number. Other fields are optional.');
     const firstTab = document.querySelector('#myTab li:first-child button');
     bootstrap.Tab.getInstance(firstTab).show(); // Select the first tab.
     document.getElementById('warning_id').value = index;
     el.remove();
   }
 }
</script>
<script>
 var allSources = "{{url_for('home_bp.view_source', paperid=comp.paperid,version=version,auth=source_auth)}}";
 var sources = {
   {% for f in comp.output_files %}"{{f}}": "{{url_for('home_bp.view_source', paperid=comp.paperid,version=version,auth=source_auth, filename=f)}}",
   {% endfor %}
 };
 </script>
 <script src="/js/nav.js"></script>
 <script id="MathJax-script" async src="/js/mathjax/tex-chtml.js"></script>
 <script src="/js/mark.min.js"></script>
{% endblock %}
{% block extraMenu %}
<li class="nav-item">
  <a class="btn btn-info" href="#" data-bs-toggle="modal" data-bs-target="#helpModal">Help</a>
</li>
{% endblock %}
{% block content %}
<main id="adminContent" class="container-fluid">
  <div id="splitView" class="d-flex w-100">
    <div class="left-column">
      <ul class="nav nav-tabs" id="editTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="nav-pdf-tab" data-bs-toggle="tab" data-bs-target="#nav-pdf" type="button" role="tab" aria-controls="nav-pdf" aria-selected="true">PDF</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-html-tab" data-bs-toggle="tab" data-bs-target="#nav-html" type="button" role="tab" aria-controls="nav-html" aria-selected="false">HTML</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-log-tab" data-bs-toggle="tab" data-bs-target="#nav-log" type="button" role="tab" aria-controls="nav-log" aria-selected="false">Log</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-source-tab" data-bs-toggle="tab" data-bs-target="#nav-source" type="button" role="tab" aria-controls="nav-source" aria-selected="false">LaTeX</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="nav-meta-tab" data-bs-toggle="tab" data-bs-target="#nav-meta" type="button" role="tab" aria-controls="nav-meta" aria-selected="false">Metadata</button>
        </li>
      </ul>
      <div class="tab-content" id="editTabContent">
        <div class="tab-pane fade show active" id="nav-pdf" role="tabpanel" aria-labelledby="nav-pdf-tab" tabindex="0">
          <iframe id="pdfiframe" width="100%" height="100vh" style="width:100%;height:80vh;" src="{{url_for('home_bp.show_pdf', paperid=paper.paperid,version='copyedit',auth=pdf_auth)}}#page=1"></iframe>
        </div>
        <div class="tab-pane fade show p-3 mathjax" id="nav-html" role="tabpanel" aria-labelledby="nav-html-tab">
	  <p class="alert alert-info">
            This is approximately what part of the HTML page will look like. Please check the title, authors, abstract,
            and references. Note that HTML rendering of references may be malformed by using <tt>\url</tt> inside the
            <tt>howpublished</tt> field. Google scholar and eprint links are approximate, so they need not point to the paper.
          </p>
          {% include "html.html" %}
	</div>
        <div class="tab-pane fade" id="nav-log" role="tabpanel" aria-labelledby="nav-log-tab" tabindex="0">
          {% for line in loglines %}
          <div id="logline-{{loop.index}}">{{loop.index}}: {{line}}</div>
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="nav-source" role="tabpanel" aria-labelledby="nav-source-tab" tabindex="0">
          <div class="px-5 py-3">
            {% include "nav_source_tab.html" %}
          </div>
        </div>
        <div class="tab-pane fade" id="nav-meta" role="tabpanel" aria-labelledby="nav-meta-tab" tabindex="0">
          <table class="table mt-3 mx-3">
            <tbody>
              <tr>
                <th>Paper ID:</th>
                <td>{{comp.paperid}}</td>
              </tr>
              <tr>
                <th>DOI:</th>
                <td>{{comp.meta.DOI}}</dtd>
              </tr>
              <tr>
                <th>Status:</th>
                <td>{{comp.status}}</td>
              </tr>
              <tr>
                <th>Title:</th>
                <td>{{comp.meta.title}}</td>
              </tr>
              <tr>
                <th>Authors:</th>
                <td>
                  <div class="list-group">
                    {% for author in comp.meta.authors %}
                    <div class="author list-group-item">
                      <table class="table">
                        <tbody>
                          <tr>
                            <th>Name:</th>
                            <td>{{author.name}}</td>
                          </tr>
                          <tr>
                            <th>Surname:</th>
                            <td>{% if author.familyName %}{{author.familyName}}{% else %}<span class="text-danger">None</span>{% endif %}</td>
                          </tr>
                          <tr>
                            <th>Email:</th>
                            <td>{{author.email}}</td>
                          </tr>
                          <tr>
                            <th>ORCID:</th>
                            <td>{% if author.orcid %}<a target="_blank" href="https://orcid.org/{{author.orcid}}">{{author.orcid}}</a>{% else %}<span class="text-danger">None (<a target="_blank" href="https://orcid.org/orcid-search/search?searchQuery={{author.name|urlencode}}">search</a>)</span>{% endif %}</td>
                          </tr>
                          <tr>
                            <th>
                              Affiliations:
                            </th>
                            <td>
                              {% if author.affiliations %}
                              <div class="list-group">
                                {% for affil in author.affiliations %}
                                <div class="affiliation list-group-item">
                                  {% set aff=comp.meta.affiliations[affil-1] %}
                                  <table class="table">
                                    <tbody>
                                      <tr>
                                        <th>name</th>
                                        <td>{{aff.name}}</td>
                                      </tr>
                                      <tr>
                                        <th>ROR</th>
                                        <td>{% if aff.ror %}<a href="https://ror.org/{{aff.ror}}" target="_blank">{{aff.ror}}</a>{% else %}<span class="text-danger">None (<a href="/funding?textq={{aff.name|urlencode}}&ror=true" target="_blank">search</a>){% endif %}</td>
                                      </tr>
                                      <tr>
                                        <th>Street</th>
                                        <td>{{aff.street}}</td>
                                      </tr>
                                      <tr>
                                        <th>City</th>
                                        <td>{{aff.city}}</td>
                                      </tr>
                                      <tr>
                                        <th>Postal code</th>
                                        <td>{{aff.postcode}}</td>
                                      </tr>
                                      <tr>
                                        <th>Country</th>
                                        <td> {{aff.country}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div> {# list-group-item #}
                                {% endfor %}{# affiliations #}
                              </div> {# end of list-group for affiliations #}
                              {% else %}
                              <span class="text-danger">None</span>
                              {% endif %}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div> {# list-group-item for author #}
                    {% endfor %}
                  </div>
                </td>
              </tr>
              <tr>
                <th>Date compiled</th>
                <td>{{comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
              </tr>
              <tr>
                <th>Compile time</th>
                <td>{{comp.compile_time}} seconds</dtd>
              </tr>
              <tr>
                <th>Contact email</th>
                <td>{{comp.email}}</td>
              </tr>
              <tr>
                <th>BibTeX</th>
                <td>{% if comp.bibtex %}BibTeX extracted{% else %}<span class="text-danger">None</span>{% endif %}</td>
              </tr>
              <tr>
                <th>Submitted</th>
                <td>{{comp.submitted}}</td>
              </tr>
              <tr>
                <th>Accepted</th>
                <td>{{comp.accepted}}</td>
              </tr>
              <tr>
                <th>Compiled</th>
                <td>{{comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
              </tr>
              <tr>
                <th>Zip filename</th>
                <td>{{comp.zipfilename}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> {# end of tab-content #}
    </div> {# end left-column #}
    <div class="resizer"></div>
    <div class="right-column">
      {% if paper.status.name == 'PUBLISHED' %}
      <p class="alert alert-success" role="alert">
        This paper has been published
      </p>
      {% else %}
      <div class="d-flex flex-column" style="height:90vh;">
        {#  tabs for discussion and warnings from compilation #}
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="feedback-tab" data-bs-toggle="tab" data-bs-target="#feedback" type="button" role="tab" aria-controls="feedback" aria-selected="true">Your feedback</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="warning-tab" data-bs-toggle="tab" data-bs-target="#warning" type="button" role="tab" aria-controls="warning" aria-selected="false">Warnings</button>
          </li>
        </ul>
        {# tabs to be shown on right #}
        <div id="tabContent" class="tab-content p-3">
          <div class="tab-pane fade show active" id="feedback" role="tabpanel" aria-labelledby="feedback-tab" tabindex="0">
            <input type="hidden" id="paperid" value="{{paper.paperid}}">
            <input type="hidden" id="logline" value="">
            <input type="hidden" id="copyedit_email" name="copyedit_email" value="{{current_user.email}}">
            <input type="hidden" id="warning_id" value="">
            <div class="row">
              <div class="col-6">
                <label for="pageno" class="form-label">Page number</label>
                <input id="pageno" name="pageno" required type="number" class="form-control form-control-sm" placeholder="Page number is required">
              </div>
              <div class="col-6">
                <label for="lineno" class="form-label">Line number</label>
                <input id="lineno" name="lineno" required type="number" class="form-control form-control-sm" placeholder="Line number is required">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6">
                <label for="source_select" class="form-label">Source file (optional)</label>
                <select id="source_select" name="sourcefile" type="number" class="form-select form-select-sm" placeholder="Optional source file">
                  <option selected></option>
                  {% for f in input_files %}
                  <option value="{{f}}">{{f}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="sourceline" class="form-label">Source line (optional)</label>
                <input id="sourceline" name="sournceline" type="number" class="form-control form-control-sm" placeholder="Optional source line number">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <label for="text" class="form-label mt-2">Note to author</label>
              </div>
              <div class="col-12">
                <textarea id="text" name="text" class="form-control form-control-sm" placeholder="Enter text instructions for the author"></textarea>
              </div>
            </div>
            <div id="error_msg" class="text-danger d-none"></div>
            <button type="submit" class="mt-3 btn btn-primary btn-sm" onclick="addComment()">Add comment</button>
            <button type="submit" class="ms-3 mt-3 btn btn-secondary btn-sm" onclick="resetForm()">Clear</button>
            <div class="discussionTabs">
              <div id="discussion" class="list-group mt-3">
              </div>
              <div class="d-flex align-middle">
              {% if not paper.copyeditor %}
                <span class="text-primary me-3">No copy editor assigned</span>
              <form METHOD="post" action="{{url_for('admin_file.claimcopyedit')}}">
                {{claimform.csrf_token}}
                {{claimform.paperid(value=paperid)}}
                {{claimform.view}}
                {{claimform.copyeditor(value=current_user.email)}}
                <button type='submit' class='btn btn-sm btn-outline-primary' title='You can still add comments without being the assigned copy editor'>Claim as copy editor</button>
              </form>
              {% elif paper.copyeditor == current_user.email %}
              <form METHOD="post" action="{{url_for('admin_file.finish_copyedit')}}">
                <input type="hidden" id="paperid" name="paperid" value="{{paper.paperid}}">
                <button class="my-4 btn btn-success btn-sm" type="submit" id="finishit">Finish and send to author(s)</button>
              </form>
              {% else %}
              <span class="text-primary">This paper has been assigned to {{paper.copyeditor}} for copy editing. You may still add comments until they send it to to the authors.</span>
              {% endif %}
              </div>
              <div id="archived" class="list-group mt-3">
              </div>
            </div>
            <div class="alert alert-info alert-dismissible fade show" role="alert">
              Start with the tab showing the compile warnings. Some might need escalation to have the author fix them.
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          <div class="tab-pane fade" id="warning" role="tabpanel" aria-labelledby="warning-tab" tabindex="0">
            <p>Authors have already seen these, but apparently
              ignored them. You can request them to fix individual items.
            </p>
            <div class="list-group discussionTabs">
              {% if comp.warning_log %}
              {% for err in comp.warning_log %}
              <div id="warning-{{loop.index}}" class="alert alert-warning d-flex justify-content-between fade show {{err.error_type.name}}"
                   {% if err.filepath %}
                   {% if err.filepath.startswith('/usr/') %}
                   {% set filepath = err.filepath.split('/')[-1] %}
                   {% else %}
                   {% set filepath = err.filepath %}
                   data-sourcefile={{filepath}} data-sourceline={{err.filepath_line}}
                   {% endif %}
                   {% endif %}
                   {% if err.pageno %}
                   data-pageno={{err.pageno}}
                   {% endif %}
              >
                <div class="d-flex flex-column justify-content-between w-100">
                  <div id="warning-text-{{loop.index}}">{{err.text}}</div>
                  <div class="d-flex justify-content-between">
                    <div class="">
                      {% if err.text.startswith('bibtex entry ') %}
                      {% set bibtex_key = err.text.split()[2] %}
                      <span class="lognav" onclick="scrollToBibtex('{{bibtex_key}}');">Show bibtex entry</span>
                      {% else %}
                      {% if err.logline %}<span onclick="showLogLine('{{err.error_type[:6]}}', {{err.logline}})" class="lognav" title="Scroll to log line"> Log line {{err.logline}}</span>{% endif %}
                      {% endif %}
                    </div>
                    <div class="">
                      {% if err.pageno %}<span onclick="showPage({{err.pageno}})" class="lognav" title="Scroll to PDF page {{err.pageno}}">PDF page &ge;{{err.pageno}}</span>{% endif %}
                    </div>
                    <div class="text-end">
                      {% if filepath %}<span data-filepath="{{filepath}}" onclick="showSource(this)"
                                             {% if err.filepath_line %}data-filepath_line="{{err.filepath_line}}" {% endif %}
                                             class="lognav" title="Show source file">{{filepath}}
                      {% if err.filepath_line %}line {{err.filepath_line}}{% endif %}</span>{% endif %}
                    </div>
                  </div>
                  {% if err.help %}
                  <div>{{err.help|safe}}</div>
                  {% endif %}
                </div>
                <div class="ms-3 d-flex flex-column align-items-end">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" title="Hide"></button>
                  <button class="mt-2 btn btn-warning" onclick="requestFix({{loop.index}})" title="Request a fix from the author">Include</button>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div class="alert alert-info">There were no warnings from the compilation.</div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{# modal for help. #}
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="helpModalLabel">Help for copy editors</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Overview</h3>
        <p>
          Your job as a copy editor is a little vague, but the
          overriding principle is:
          <em>If it's not wrong, don't change it.</em> A useful
          resource for copy editing of mathematics was
          <a target="_blank" href="https://docplayer.net/122465-Mathematics-into-type.html">published by the AMS</a>
          and revised in 1999 to reflect the usage of LaTeX. This is
          quite old, but still useful.
        </p>
        <p>
          One principle that we stive for is that metadata should be
          carefully checked. The LaTeX style is designed to encourage
          authors to supply all necessary metadata, but there are
          still some things that authors will overlook. These include:
        </p>
        <h4>ORCID IDs</h4>
        <p>
          All authors should supply an ORCID ID. There are very few exceptions
          to this rule (dead authors qualify).
        </p>
        <h4>Author names</h4>
        <p>
          Author names should be written as they appear on other papers. You
          should be skeptical of names that are written with only initials or
          authors that are written in ALLCAPS.
        </p>
        <h4>Bibliographic references</h4>
        <p>
          The references should be checked carefully. We encourage authors to
          use <a target="_blank" href="https://cryptobib.di.ens.fr/">CryptoBib</a>,
          which is a large carefully curated BibTeX database of crypto
          and security literature. One thing to check for is that
          authors will sometimes omit DOIs from their references. In
          some cases this is acceptable, since not everything has a
          DOI; ACM SODA and USENIX conferences are notable examples.
          Other references like standards or company documents may
          also lack DOIs. If something doesn't have a DOI, you can
          still request that authors at least supply a useful URL. The
          compilation will flag these references to make it easy for you
          to find them.
        </p>
        <h3>The user interface</h3>
        <p>
          Your task is to build a set of things that the author should correct,
          and send them to the author for them to revise their paper and re-upload
          their LaTeX. We do not assume that you know LaTeX, but it can be useful
          in giving guidance to the author when something doesn't look right.
        </p>
        <p>
          The main components of the user interface are:
        </p>
        <ol>
          <li>The author PDF on the left. The version you are seeing has line numbers,
            but the final version will not. They are present only for you to refer
            to parts of the document.
          </li>
          <li>A column on the right with two tabs:
            <ol>
              <li>A form to construct comments to the author. Each comment has a page number,
                line number, and your text note. These are not sent to the author until you
                click the button at the bottom right to "Finish and send to authors."
              </li>
              <li>
                A tab with possible warnings from the LaTeX compilation. These usually include
                things like missing DOIs, overfull <code>\hboxes</code>, and characters
                that may not have been rendered correctly. They can be difficult to decipher,
                but you may wish to ask the author to fix them.
              </li>
            </ol>
          </li>
        </ol>
        <h3>The workflow</h3>
        <p>
          Once you finish with your review and click on the "Finalize"
          button at the bottom, then your suggestions are sent to the
          author. They are then given a chance to fix their LaTeX and
          upload their "final" version. You will be notified when this
          happens, and you will have a chance to check and make sure
          authors have performed all of the changes. If they do not,
          then we recommend communicating with the authors over email
          until you are satisfied.
        </p>
        <h3>Bugs</h3>
        <p>
          This system is all new as of 2023, and there are bound to be
          bugs. You can write to iacrcc-editors@iacr.org if you need
          help.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
 function showHasIssues() {
   let num = document.getElementById('discussion').childElementCount;
   let button = document.getElementById('finishit');
   if (num == 0) {
     button.innerText = 'Accept as is';
   } else {
     button.innerText = 'Finish and send to author(s)';
   }
 }
 
 fetch('/admin/comments/{{paper.paperid}}', {
   method: "GET",
   cache: "no-cache",
   headers: {
     "Content-Type": "application/json"
   }
 }).then((response) => response.json()).then((data) => {
   console.dir(data);
   data.forEach(d => {
     {# warning_id is only valid for non-archived items #}
     if (d.warning_id && d.archived == null) {
       let el = document.getElementById('warning-' + d.warning_id);
       if (el) {
         el.remove();
       }
     }
     appendComment(d); // d['id'], d['pageno'], d['lineno'], d['text']);
   });
   showHasIssues();
 });

</script>
<script src="/js/resize.js"></script>
{% endblock %}
