{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container px-md-4 py-3">
<h1 class="mb-5 text-center">Papers for copy editing</h1>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<p>
  This shows papers that are in various stages of copy editing. When a copy editor is
  assigned, they have the ability to send the list of remarks to the editor. Any editor
  can still add comments to a paper, even if they are not assigned.
</p>
{% if papers %}
<table class="table sortable" id="paperlist">
  <thead>
    <tr>
      <th>Paper ID</th>
      <th>Status</th>
      <th>Issues</th>
      <th>Assigned</th>
      <th>Last modified</th>
      <th>Corresponding author</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
    <tr class="align-middle">
      <td><a href="{{paper.url}}">{{paper.paperid}}</a></td>
      <td>{{paper.status.value}}</td>
      <td>{{paper.issues}}</td>
      <td style="width:20rem;">
        <div class="align-items-center d-flex">
          {{paper.copyeditor}}
          {% if not paper.copyeditor == current_user.email %}
        <form method="POST" action="{{url_for('admin_file.claimcopyedit')}}">
          {{claimform.csrf_token}}
          {{claimform.paperid(value=paper.paperid)}}
          {{claimform.view}}
          {{claimform.copyeditor}}
          <button type='submit' class='btn btn-sm btn-outline-primary ms-2'>Claim</button>
        </form>
        {% endif %}
      </div>
      </td>
      <td>{{paper.lastmodified}}</td>
      <td>{{paper.email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-success">There are no papers that require copy editing.</p>
{% endif %}
<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
