{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container px-md-4 py-3">
<h1 class="mb-5 text-center">Papers for copy editing</h1>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<p>
  This shows papers that are in various stages of copy editing.
  The UI and workflow is still TBD.
</p>
<table class="table sortable" id="paperlist">
  <thead>
    <tr>
      <th>Paper ID</th>
      <th>Status</th>
      <th>Journal</th>
      <th>Last modified</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
    <tr><td><a href="{{paper.url}}">{{paper.paperid}}</a></td>
      <td>{{paper.status.value}}</td>
      <td>{{paper.journal_key}}</td>
      <td>{{paper.lastmodified}}</td>
      <td>{{paper.email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
