
{% extends "admin/admin_base.html" %}
{% block content %}
<h1 class="mb-5 text-center">Admin console</h1>
<p>
  This page is reserved for the managing editor(s) of <a href="/">{{journal_name}}</a>.
  The UI and workflow is TBD:
  <ol>
    <li>Should we use a database to maintain this list?</li>
    <li>What should we show in this table?</li>
    <li>Should we require approval from an editor, at which point we would
      assign the DOI?</li>
    <li>How should we handle communication to the author(s)?</li>
    <li>How should we authenticate editors? What roles are required?</li>
  </ol>
</p>
<h3>List of submitted papers</h3>
<table class="table sortable" id="paperlist">
  <thead>
    <tr>
      <th>Paper ID</th>
      <th>Version</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Status</th>
      <th>Email</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for paperid, versions in papers.items() %}
    {% for version, paper in versions.items() %}
    <tr{% if not loop.first %} class="table-light"{% endif %}>
      <td>{% if loop.first %}<a href="/admin/view/{{paperid}}">{{paperid}}</a>{% endif %}</td>
      <td><a href="{{paper.url}}">{{version}}</a></td>
      <td>{{paper.comp.venue.value}}</td>
      <td>{{paper.comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
      <td>{{paper.comp.status.value}} ({{paper.comp.error_log|length}}/{{paper.comp.warning_log|length}})</td>
      <td>{{paper.comp.email}}</td>
      <td>{% if paper.comp.meta %}{{paper.comp.meta.title}}{% else %}(unknown){% endif %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% for error in errors %}
<div class="alert alert-warning">{{error}}</div>
{% endfor %}

<script src="/js/sorttable.js"></script>
{% endblock %}
