{% extends "admin/admin_base.html" %}
{% block page_content %}
<main id="adminContent" class="container px-md-4 py-3">
<h1 class="mb-4 text-center">Admin console</h1>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<div class="row">
  <div class="col-6">
    <p class="alert alert-info">
      You are logged in as {{current_user.name}} with email {{current_user.email}}.
    </p>
    <p>
      This provides access to administrative actions by Journal editors
      and copy editors. The view you see depends on the permissions that you have.
    </p>
    <ol>
      <li>Admins can see everything.</li>
      <li>Journal editors can see their journals.</li>
      <li>Journal copyeditors can see the journals they are responsible for.</li>
    </ol>
    <p>
      Contact us at <i-mono>{{config.SITE_CONTACT_EMAIL}}</i-mono> if you have any questions.
  </div>
  <div class="col-6">
    <p>
      This server fulfills three steps in a journal publishing workflow:
      <ol>
        <li>Upload of final LaTeX for compilation on this server.</li>
        <li>Copy editing of the final versions on this server.</li>
        <li>Publishing to the publicly-facing site for the journal.</li>
      </ol>
    </p>
    <p>
      In order for a journal to use this, it must use a document class that loads
      the <a target="_blank" href="https://ctan.org/pkg/metacapture"><i-mono>metacapture</i-mono>
      LaTeX package</a>. That includes IACR journals
      that use the <a href="{{url_for('home_bp.iacrj_homepage')}}"><i-mono>iacrj</i-mono> document class</a>.
    </p>
  </div>
</div>
<h3>List of journals</h3>
<table class="table">
  <thead>
    <tr>
      <th>key</th>
      <th>Acronym</th>
      <th>Name</th>
{#      <th>Volumes</th>#}
    </tr>
  </thead>
  <tbody>
    {% for journal in journals %}
    <tr>
      <td>{{journal.hotcrp_key}}</td>
      <td>{{journal.acronym}}</td>
      <td>
        {% if journal.ojs_view %}
        <a href="{{url_for('ojs_file.show_ojs_journal', hotcrp_key=journal.hotcrp_key)}}">OJS view</a>
        {% else %}
        <a href="{{url_for('admin_file.view_journal', jid=journal.id)}}">{{journal.name}}</a>
        {% endif %}
      </td>
{#      <td>{{journal.volumes|length}} volumes</td>#}
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>Roles</h3>
<div class="row mt-3">
  <div class="col-md-6 col-12">
    <h5>Your roles</h5>
    <ul>{% for role in current_user.roles %}<li>{{role.name}}</li>{% endfor %}</ul>
  </div>
  <div class="col-md-6 col-12">
    <h5>All possible roles</h5>
    <ul>{% for role in all_roles %}<li>{{role.name}}</li>{% endfor %}</ul>
  </div>
</div>
{% if current_user.has_role('admin') %}
<h3>Recent activity</h3>
<table class="table">
  <thead>
    <tr>
      <th>Paper id</th>
      <th>Status</th>
      <th>Journal</th>
      <th>hotcrp</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
      <td><a href="{{url_for('admin_file.show_admin_paper', paperid=paper.paperid)}}">{{paper.paperid}}</a></td>
      <td>{{paper.status.value}}</td>
      <td>{{paper.journal_key}}, Vol. {{paper.volume_key}}, Issue {{paper.issue_key}}</td>
      <td>{% if paper.hotcrp == 'none' %}none{% else %}<a target="_blank" href="https://submit.iacr.org/{{paper.hotcrp}}/paper/{{paper.hotcrp_id}}">{{paper.hotcrp}}/{{paper.hotcrp_id}}</a>{% endif %}</td>
      <td>{{paper.title}}<br>{{paper.authors}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% for error in errors %}
<div class="alert alert-warning">{{error}}</div>
{% endfor %}

<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
