{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container px-md-4 py-3">
<h1 class="mb-5 text-center">Admin console</h1>
<p class="alert alert-warning">
  This needs to be rewritten to reflect the workflow and tasks performed by the
  editor. That includes reviewing copy editing, assembling papers for an issue,
  approving the papers for DOI assignment, and final publishing.
</p>
<p>
  This page is reserved for the managing editor(s) of <a href="/">{{journal_name}}</a>.
  The UI and workflow is TBD:
  <ol>
    <li>How should we organize the views in this console?</li>
    <li>Should we require approval from an editor, at which point we would
      assign the DOI?</li>
    <li>How should we handle communication to the author(s)?</li>
  </ol>
</p>
<h3>List of journals</h3>
<table class="table">
  <thead>
    <tr>
      <th>key</th>
      <th>name</th>
      <th>ISSN</th>
      <th>DOI prefix</th>
      <th>volumes</th>
    </tr>
  </thead>
  <tbody>
    {% for journal in journals %}
      <td>{{journal.name}}</td>
      <td>{{journal.longname}}</td>
      <td>{{journal.ISSN}}</td>
      <td>{{journal.DOI_PREFIX}}</td>
      <td>{{journal.volumes|length}} volumes</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<h3>List of papers</h3>
<table class="table">
  <thead>
    <tr>
      <th>paperid</th>
      <th>venue</th>
      <th>email</th>
      <th>submitted</th>
      <th>accepted</th>
      <th>status</th>
      <th>issue ID</th>
    </tr>
  </thead>
  <tbody>
    {% for paper in papers %}
      <td>{{paper.paperid}}</td>
      <td>{{paper.venue}}</td>
      <td>{{paper.email}}</td>
      <td>{{paper.submitted}}</td>
      <td>{{paper.accepted}}</td>
      <td>{{paper.status}}</td>
      <td>{{paper.issue_id}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h3>List of submitted papers</h3>
<table class="table sortable" id="paperlist">
  <thead>
    <tr>
      <th>Paper ID</th>
      <th>Version</th>
      <th>Venue</th>
      <th>Date</th>
      <th>Status</th>
      <th>Email</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for paperid, versions in papertree.items() %}
    {% for version, paper in versions.items() %}
    <tr{% if not loop.first %} class="table-light"{% endif %}>
      <td>{% if loop.first %}<a href="/admin/view/{{paperid}}">{{paperid}}</a>{% endif %}</td>
      <td><a href="{{paper.url}}">{{version}}</a></td>
      <td>{{paper.comp.venue.value}}</td>
      <td>{{paper.comp.compiled.strftime('%Y-%m-%d %H:%M:%S')}}</td>
      <td>{{paper.comp.status.value}} ({{paper.comp.error_log|length}}/{{paper.comp.warning_log|length}})</td>
      <td>{{paper.comp.email}}</td>
      <td>{% if paper.comp.meta %}{{paper.comp.meta.title}}{% else %}(unknown){% endif %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </tbody>
</table>
{% for error in errors %}
<div class="alert alert-warning">{{error}}</div>
{% endfor %}

<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
