{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container-fluid admin-container px-md-4 py-3">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<div class="row">
  <div class="col-6">
    <h1 class="mb-2 text-center">{{title}}</h1>
    <p>
      This is a view of all papers that are tentatively scheduled to appear in Issue {{issue.name}}
      of Volume {{volume.name}} in {{journal.name}}.
    </p>
  </div>
  <div class="col-6">
    <table class="table">
      <tbody>
        <tr>
          <th>Uploaded papers:</th><td>{{papers|length}}</td>
        </tr>
        <tr>
          <th>Completed papers:</th><td>{{finished_papers}}</td>
        <tr>
          <th>Accepted but not submitted:</th>
          <td>{% if hotcrp %}{{hotcrp.acceptedPapers|length}}{% else %}no HotCRP instance{% endif %}</td>
        </tr>
    </table>
  </div>
</div>
<form class="mt-3" action="{{url_for('admin_file.publish_issue')}}" METHOD="POST">
<table class="table sortable">
  <thead>
    <tr>
      <th>paperid</th>
      <th>hotcrp</th>
      <th>status</th>
      <th>modified</th>
      <th>email</th>
      <th>Title &amp; authors</th>
    </tr>
  </thead>
  <tbody id="paperList">
    {% for status in papers %}
    <td><a href="../view/{{status.paperid}}">{{status.paperid}}</a></td>
    <td>{% if status.hotcrp == 'none' %}none{% else %}<a target="_blank" href="https://submit.iacr.org/{{status.hotcrp}}/paper/{{status.hotcrp_id}}">{{status.hotcrp}}/{{status.hotcrp_id}}</a>{% endif %}</td>
      <td class="status {{status.status.name}}">{{status.status.value}}</td>
      <td>{{status.lastmodified.strftime('%Y-%m-%d')}}</td>
      <td>{{status.email}}</td>
      <td>{{status.title}}<br><span class="fst-italic">{{status.authors}}</span></td>
    </tr>
    {% endfor %}
    <div class="alert alert-info"p>
      <p>TODO:</p>
      <ol>
        <li>figure out how to structure this form. Only papers with status of "Copy edit complete" can be published.</li>
        <li>Provide mechanism to change the paper to a later issue if the status is not <i-mono>copy_edit_accept</i-mono>.
          This is tricky if the author hasn't even uploaded anything yet, because we don't have a <i-mono>PaperStatus</i-mono>
          record yet.</li>
        <li>Provide mechanism to order these in the final issue.</li>
      </ol>
    </div>
</form>
{% if hotcrp %}
{% for p in hotcrp.acceptedPapers %}
<tr>
  <td>{{p.paperid}}</td>
  <td><a target="_blank" href="https://submit.iacr.org/{{hotcrp.shortName}}/paper/{{p.paperId}}">{{hotcrp.shortName}}/{{p.paperId}}</a></td>
  <td class="UNSUBMITTED">Unsubmitted</td>
  <td>-</td>
  <td>-</td>
  <td>{{p.title}}<br>
      {% for author in p.authorlist %}
        {{author.name}} ({{author.affiliation}})
      {% endfor %}
   </td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
