{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container px-md-4 py-3">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<h1 class="mb-5 text-center">{{title}}</h1>
<div>
  {% for volume in volumes %}
  <div class="d-flex align-items-center">
    <div class="fs-5 bg-success-subtle">
      Volume: {{volume.name}}
    </div>
    {% for issue in volume.issues %}
    <div>
      <a class="ms-2 fs-5" href="{{url_for('admin_file.view_issue', issueid=issue.id)}}">Issue {{issue.name}}</a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<h3 class="mt-5">
  Recently modified papers
</h3>
<table class="table sortable">
  <thead>
    <tr>
      <th>paperid</th>
      <th>issue</th>
      <th>status</th>
      <th>upload time</th>
      <th>last modified</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    {% for status in papers %}
      <td><a href="{{url_for('admin_file.show_admin_paper', paperid=status.paperid)}}">{{status.paperid}}</td>
      <td>{% if status.issue_id %}Vol {{status.volume_key}}, issue <a href="{{url_for('admin_file.view_issue', issueid=status.issue_id)}}">{{status.issue_key}}</a>{% else %}<span class="text-danger">None</span>{% endif %}</td>
      <td class="{{status.status.name}}">{{status.status.value}}</td>
      <td>{{status.creationtime}}</td>
      <td>{{status.lastmodified}}</td>
      <td>{{status.email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
