{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container-fluid admin-container px-md-4 py-3">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
<div class="row">
  <div class="col-6">
    <h2 class="mb-2 text-center">{{title}}</h2>
    <p>
      This is a view of all papers for the issue in {{journal.name}}.
      By default papers are assigned a paper number in the order they are uploaded. You can reorder them using the buttons below, but they cannot
      be changed once the issue is published.
    </p>
  </div>
  <div class="col-6">
    <table class="table">
      <tbody>
        <tr>
          <th>Uploaded papers:</th><td>{{papers|length}}</td>
        </tr>
        <tr>
          <th>Completed papers:</th><td>{{finished_papers}}</td>
        </tr>
        <tr>
          <th>Accepted but not submitted:</th>
          <td>{% if hotcrp %}{{hotcrp.acceptedPapers|length}}{% else %}<span class="text-danger">no HotCRP instance</span>{% endif %}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<h4 class="mt-3">Papers assigned to the issue</h4>
<table class="table sortable">
  <thead>
    <tr>
      <th class="sorttable_nosort"></th>
      <th>paper number</th>
      <th>paper id</th>
      <th>hotcrp</th>
      <th>status</th>
      <th>modified</th>
      <th>Title &amp; authors</th>
    </tr>
  </thead>
  <tbody id="paperList">
    {% for status in papers %}
    <tr class="align-middle">
    <td>{% if status.status.name!='COPY_EDIT_ACCEPT' %}
      <form method="POST" action="{{url_for('admin_file.change_issue')}}">
        {{ bumpform.csrf_token }}
        {{ bumpform.nexturl(value=url_for('admin_file.view_issue', issueid=issue.id)) }}
        {{ bumpform.paperid(value=status.paperid) }}
        {{ bumpform.submit(class_='btn btn-sm btn-warning',value='bump', title='Remove from this issue') }}
      </form>
      {% endif %}
    </td>
    <td>
      <form method="POST" action="{{url_for('admin_file.change_paperno')}}">
        <span class="pe-2">{{status.paperno}}</span>
        {{ papernoform.csrf_token }}
        {{ papernoform.paperid(value=status.paperid) }}
        {{ papernoform.issueid }}
        {{ papernoform.upbutton(class_="btn btn-sm btn-outline-dark py-0 px-1 fs-5",title="decrease paperno") }}
        {{ papernoform.downbutton(class_="btn btn-sm btn-outline-dark py-0 px-1 fs-5",title="increase paperno") }}
      </form>
    </td>
    <td><a href="{{url_for('admin_file.show_admin_paper', paperid=status.paperid)}}">{{status.paperid}}</a></td>
    <td>{% if status.hotcrp == 'none' %}none{% else %}<a target="_blank" href="https://submit.iacr.org/{{status.hotcrp}}/paper/{{status.hotcrp_id}}">{{status.hotcrp}}/{{status.hotcrp_id}}</a>{% endif %}</td>
      <td class="status {{status.status.name}}">{{status.status.value}}</td>
      <td>{{status.lastmodified.strftime('%Y-%m-%d')}}</td>
      <td>{{status.title}}<br><span class="fst-italic">{{status.authors}}</span></td>
    </tr>
    {% endfor %}
{% if hotcrp %}
{% for p in hotcrp.acceptedPapers %}
    <tr>
      <td></td>
      <td></td>
      <td>{{p.paperid}}</td>
      <td><a target="_blank" href="https://submit.iacr.org/{{hotcrp.shortName}}/paper/{{p.paperId}}">{{hotcrp.shortName}}/{{p.paperId}}</a></td>
      <td class="UNSUBMITTED">Unsubmitted</td>
      <td>-</td>
      <td>{{p.title}}<br>
        {% for author in p.authorlist %}
        {{author.name}} ({{author.affiliation}})
        {% endfor %}
      </td>
    </tr>
{% endfor %}
{% endif %}
</tbody>
</table>
{% if form %}
<div class="d-flex">
  <form class="my-3" action="{{url_for('admin_file.publish_issue')}}" METHOD="POST">
    {{form.submit(class_='btn btn-sm btn-success')}}
    {{form.issue_id}}
  </form>
  <div class="ms-4 alert alert-info">
    Once you publish the issue, any papers that are still unassigned or are later uploaded from hotcrp
    cannot be added to this issue. They will have to be published in later issues.
  </div>
</div>
{% endif %}
{% if unassigned_papers %}
<h4 class="mt-4">Unassigned papers</h4>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>paperid</th>
      <th>status</th>
      <th>Title &amp; authors</th>
    </tr>
  </thead>
  <tbody id="unassigned">
    {% for paper in unassigned_papers %}
    <tr>
      <td>{% if paper.status.name == 'COPY_EDIT_ACCEPT' %}
        <form method="POST" action="{{url_for('admin_file.change_issue')}}">
          {{ includeform.csrf_token }}
          {{ includeform.paperid(value=paper.paperid) }}
          {{ includeform.issueid }}
          {{ includeform.nexturl }}
          {{ includeform.submit(class_='btn btn-sm btn-warning',value='include') }}
        </form>
        {% endif %}
      </td>
      <td><a href="{{url_for('admin_file.show_admin_paper', paperid=paper.paperid)}}">{{paper.paperid}}</a></td>
      <td class="status {{paper.status.name}}">{{paper.status.value}}</td>
      <td>{{paper.title}}<br><span class="fst-italic">{{paper.authors}}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<script src="/js/sorttable.js"></script>
</main>
{% endblock %}
