{% extends "admin/admin_base.html" %}
{% block content %}
<main id="adminContent" class="container admin-container px-md-4 py-3">
{% for message in get_flashed_messages() %}
<div class="alert alert-warning mt-3">
  {{ message }}
</div>
{% endfor %}
{% if issue.exported %}
<div class="alert alert-success">This was exported on {{issue.exported}}.</div>
{% endif %}
<h4 class="mt-3">Papers in Volume {{volume.name}}, issue {{issue.name}}</h4>
<table class="table">
  <thead>
    <tr>
      <th>paper number</th>
      <th>paper id</th>
      <th>Type</th>
      <th>Title &amp; authors</th>
    </tr>
  </thead>
  <tbody id="paperList">
    {% for status in papers %}
    <tr class="align-middle">
      <td>{{status.paperno}}</td>
      <td><a href="{{url_for('ojs_file.show_ojs_paper', paperid=status.paperid)}}">{{status.paperid}}</a></td>
      <td>{{status.pubtype.value}}</td>
      <td>{{status.title}}<br><span class="fst-italic">{{status.authors}}</span></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</main>
{% endblock %}
