flask
flask_mail
flask_limiter
pydantic[email]>=2.0
python-dotenv
flask-wtf
flask_limiter
flask-login
nameparser
pybtex
country_converter
sqlalchemy
arxiv-latex-cleaner
pybtex
pandas
country-converter
pymysql
lxml
xmlschema
