/***** THIS IS THE RIGHT CSS *****/

/***** Big picture stuff: body, main divs, etc *****/
body {
  background: #f0f0f0;
}

/* the main div that surrounds all other content */
#iacrccContent {
  margin-top: 3rem;
  background-color: #FEFEFE;
  border-radius: .3rem;
}

div#topNavbar .iacrccname {
    padding: 2rem;
    font-size: 1.6rem;
    transition: .4s;
    color: #f0f0f0;
}

div#topNavbar {
    background-color: #0A60AF;
    display:flex;
}

nav#sitenav {
    background-color: #0A60AF;
}
nav#sitenav .nav-link {
    color: white;
}
nav#sitenav .navbar-brand {
    color: white;
    font-size: 1.5rem;
}
nav#sitenav img.iacrlogo {
  max-height: 4rem;
  margin: .5rem;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .8);
}
nav#sitenav .navbar-toggler:focus {
    border; 0 !important;
    box-shadow: none !important;
}
nav#sitenav .navbar-toggler span.navbar-toggler-icon {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAzMCAzMCc+PHBhdGggc3Ryb2tlPSdyZ2JhKDI1NSwyNTUsMjU1LCAwLjU1KScgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIHN0cm9rZS13aWR0aD0nMicgZD0nTTQgN2gyMk00IDE1aDIyTTQgMjNoMjInLz48L3N2Zz4K) !important;
}    

/***** Images & icons (includes on nav) *****/
div#topNavbar img.iacrlogo {
  max-height: 8vh;
  margin: 1rem;
  transition: .4s;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .8);
}

img#iacrlogo {
  max-height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, .8);
}

#pageFooter {
    min-height: 70px;
}

/* used for <span class="latex">L<sup>A</sup>T<sub>E</sub>X</span> */
span.latex {
    color: #00248a;
    text-transform: uppercase;
    font-weight: 500;
}
.latex sub {
  vertical-align: -0.1ex;
  margin-left: -0.1667em;
  margin-right: -0.025em;
}

.latex sup {
  font-size: 0.9em;
  text-transform:uppercase;

}
.latex sub {
    font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: -0.2em;
  margin-left: -0.26em;
  margin-right: -0.05em;
}

/* custom element for monospace, which is used quite often. */
i-mono {
    font-family: var(--bs-font-monospace);
}

.nav-tabs button.nav-link {
    border-bottom: none;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-color: #848484;
    font-weight: 700;
    margin-right: .3rem;
    padding: .5rem 2rem .5rem 2rem;
}
button.nav-link {
    text-decoration: none;
    color: #404040;
}

img.eyes {
    width: 1.5rem;
}
 .resizer {
    background-color: #cbd5e0;
    cursor: ew-resize;
    width: 4px;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
 }
